[2015-07-14 01:06] achang28 opened #1 "Error Loading module"
Upgrading from React Native 0.5.0 to 0.7.1 led to this module not being recognized. With 0.5.0, using ```require("Accordion")``` worked just fine.  The module couldn't be recognized after upgrading to 0.7.1, and the command ```require("react-native-collapsible/Accordion")``` also didn't work.

I have also restarted Xcode, the terminal, and Chrome   Ive also restarted my laptop 2x just to be sure.

[2015-07-14 09:47] oblador commented on #1
This is due to how packager finds dependencies in RN 0.7+. Fixed so that you now can use `require("react-native-collapsible/Accordion")` in [0.2.1](https://github.com/oblador/react-native-collapsible/releases/tag/v0.2.1).

[2015-07-14 09:47] #1 closed

[2015-07-20 19:43] leoasis opened #2 "Allow RN version 0.8.0-rc.2 in package.json"
I know it's getting tough to keep up with RN versions, especially when they are in rc, but this should require no other change I think :)

[2015-07-21 12:40] #2 closed

[2015-07-21 17:30] leoasis commented on #2
Awesome, thanks @oblador, and also awesome you now use the Animated api if available :D

[2015-07-21 19:59] oblador commented on #2
:smile: :+1:

[2015-08-11 07:38] mekatron opened #3 "Question on "collapsed property""
We are using react react-native-collapsible component.
We have several collapsible elements in the navigation page we are building.

In the beginning collapsed property is set to true. When one of the navigation elements is clicked, we are setting the collapsed property to false. This opens up ALL the navigation elements on the navigation page.

Is there any way we can restrict the opening of the

[2015-08-11 07:43] oblador commented on #3
Hi, since the collapsed state is a controlled property you must have one state property for each `Collapsible`. You are probably better off using the [`Accordion`](https://github.com/oblador/react-native-collapsible#accordion-usage) component if you are using many collapsibles.

[2015-08-12 23:02] jozan commented on #3
Slightly related: is is possible to have many `Collapsible`s open at the same time using `Accordion`?

I'm good without Accordion in this particular use case, just wondering.

:baby_chick:

[2015-08-15 08:35] oblador commented on #3
@jozan: No not currently :-) I'm thinking maybe it would be preferable to have a `controlled` property to be able to avoid some boilerplate code in simple use cases.

[2015-08-15 14:40] jozan commented on #3
Got it, thanks.

:baby_chick:

[2015-08-24 22:24] johnnyjanzen opened #5 "Expanding elements"
On our project we are using the collapsible to create an expandable pop-down comments section under boxes of content.  Is there a way to ensure that the uncollapsed content pushes other items out of it's way?  Perhaps this is out of the scope of the "collapsible" component - just thought I'd double check here.  For example: the first screenshot represents the collapsed view.  The second screenshot

[2015-08-25 08:21] oblador commented on #5
Hi @johnnyjanzen,

I'm pretty sure that's a bug in your stylesheet somehow, since it works well in the demo project for example. Do you have a fixed height, use absolute positioning or something like that?

If not please post a minimal reproducible example of the bug so I can examine it.

[2015-08-25 16:18] johnnyjanzen commented on #5
You're absolutely right!  Having a fixed height (ie. "height: 390") was the problem.  Cheer's!

[2015-08-25 16:51] #5 closed

[2015-09-14 16:38] #3 closed

[2015-10-19 18:06] npapanastasiou opened #7 "renderSeparator a la ListView?"
Does there exist a way of adding a separator to Accordion as one would with ListView (rendered below the contents of renderContent)? If there is no such feature, is there a workaround or plans to add it?

Also, this library's been a life saver, so thanks for developing it!

[2015-10-19 18:09] oblador commented on #7
Hi @npapanastasiou,

Easiest way is to add a `borderTop` to each header and a `borderBottom` to the accordion element.

[2015-10-19 19:01] npapanastasiou commented on #7
Perfect, thanks!

[2015-10-19 19:01] #7 closed

[2015-10-27 01:28] bradynapier opened #8 "activeHeaderStyle"
Hey Oblador,
  As discussed on Discord, would be cool to have an option for "activeHeaderStyle" on the Accordion.  This would allow a separate style to be applied internally when an item is opened.

  Extra credit for adding a transition to it.  Would be cool if it animated for example if you change background color - but i have never done all that yet so not sure how complex that gets!

  Thanks

[2015-10-27 03:46] bradynapier opened #9 "Animated On Open but Not Close?"
Some content animates nicely when it opens.  For example, I have an icon that is set to center vertically so when the content opens it slides nicely down to stay center.  However when closing the collapsible container it jumps to the top immediately rather than animating.  Any way to resolve?

Also any way to have size also animate?  So if an icon or text were to get larger it would automatically

[2015-10-27 03:50] oblador commented on #9
Can you post example code for me to review?

If you want to animate sizes etc then the animatable library can be used alone or together with this component :-)

[2015-10-27 03:52] bradynapier commented on #9
it's a bit hard since my styles are dynamic but here

     <View style={{flex: 1, alignSelf: 'center'}}>
	  {this.renderIcon(itemIcon, iconStyle, iconImage)}
	 </View>
	<View style={[{flex: 5, alignSelf: 'center'}, eventContainer]}>
	  <View style={{flex: 1, flexDirection: 'column'}}>
	    <Text style={styles.this.eventTitle}>{title}</Text>
	    <Text allowFontScaling={true} style={styles.this.tim

[2015-10-27 03:53] bradynapier commented on #9
![image](https://cloud.githubusercontent.com/assets/8041420/10749062/7e7ac1f0-7c23-11e5-9abc-51209765aaf5.png)

![image](https://cloud.githubusercontent.com/assets/8041420/10749069/8630032e-7c23-11e5-989c-87ed9970be04.png)

So in the images above the icon nicely slides down as the container opens but when it closes it shoots to the top immediately then the animation begins.

[2015-10-27 03:54] oblador commented on #9
Sorry but that references alot of variables and functions not available in your example. Please try to make a minimal reproducible example :-)

[2015-10-27 04:11] bradynapier commented on #9
User Error :-P thanks!

[2015-10-27 04:11] #9 closed

[2015-10-27 18:07] oblador commented on #8
Decided `activeHeaderStyle` was the wrong way to do it, so instead the `render*` functions now get a third `isActive` argument. Together with the `Animatable` library it's now easy to change backgrounds or animate stuff, example here: https://github.com/oblador/react-native-collapsible#transition-backgrounds

[2015-10-27 18:07] #8 closed

[2015-10-28 21:46] manask88 opened #10 "issues with listview"
I wanted to use this component as part of a listview's row.
I had an issue when collapsing or expanding: the collapsible component simply doesnt get updated for some reason. Is there any solution for this?

[2015-10-28 21:50] oblador commented on #10
Put your cell rendering in a separate component with it's own state.

[2015-10-28 22:08] manask88 commented on #10
Thanks @oblador , if you don't mind, can you explain why your suggestion works?

[2015-10-28 22:11] oblador commented on #10
It's probably easier if you post the relevant parts your code. :-)

[2015-10-28 22:14] manask88 commented on #10
this is how it was before:
[code]

[2015-10-28 22:16] manask88 commented on #10
this is after your suggestion

[2015-10-28 22:18] oblador commented on #10
[code]

[2015-10-29 21:31] oblador commented on #10
@manask88: does this solve your problem? :-)

[2015-10-29 21:33] manask88 commented on #10
@oblador oh yeah,, i was able to solve it after your suggestion. I was just wondering why your suggestion works as opposed to having all in the same component. I really appreciate your help!

[2015-10-30 01:48] oblador commented on #10
The problem is to properly implement `rowHasChanged` on the dataSource. It can be done, but keeping an isolated state for each cell is much easier.

[2015-10-30 01:48] #10 closed

[2015-11-18 01:16] ACCTFORGH opened #12 "Can this component also be used for Android platform?"
Thank you!

[2015-11-18 03:49] oblador commented on #12
Yes afaik, do you have any trouble with it?

[2015-11-19 23:04] Traviskn opened #13 "Black underlay"
Thanks for this project, it has been very helpful!

I'm using the accordion component and have noticed that there is a black underlay on the headers when you tap them to open a section.  Is there a way to change the color of the black underlay?

[2015-11-20 01:10] oblador commented on #13
Hi @Traviskn,

Just set a `backgroundColor` on your headers (be it `'white'`).

[2015-11-20 16:40] oblador commented on #13
This functionality is now available in [0.5.3](https://github.com/oblador/react-native-collapsible/releases/tag/v0.5.3).

[2015-11-20 16:40] #13 closed

[2015-11-21 09:47] golorry commented on #12
It works fine! Thanks a lot!

[2015-11-21 10:01] ACCTFORGH commented on #12
It works fine! Thanks a lot!

[2015-11-21 12:37] #12 closed

[2015-12-02 09:21] zhaojiakang917 opened #14 "com.facebook.react.bridge.UnexpectedNativeTypeException: TypeError: expected dynamic type `string', but had type `int64'"
i run "npm install" at /react-native-collapsible/Example, after downloaded node_modules, i run "react-native run-android",then it throw this problem,i don't know how to solve it

[2015-12-06 14:26] oblador commented on #14
Thanks for your bug report. This is now fixed and released!

[2015-12-06 14:26] #14 closed

[2016-01-17 06:09] jamesfzhang opened #16 "Question regarding performance"
Say I have a very large ListView and I use this library to collapse all the items in the ListView. Theoretically this should improve the performance significantly since the items in the ListView are hidden and not rendered, is this correct?

The other thing that I noticed is that collapsing a ListView doesn't re-render new items that are now supposed to be pushed up into the view since there is mo

[2016-01-17 13:29] oblador commented on #16
Hi, performance is likely not affected much since the module currently render its content to know the dimensions. Doing so on tap might cause dropping frames, but I can give it a try.

Your ListView bug is a bug with ListView unfortunately, try tweaking the render props.

[2016-01-17 21:48] jamesfzhang commented on #16
Ahh I see. I'm looking for any ways to improve performance of large ListViews. I've went over all of the related issues in the RN GitHub as well as using [SGListView](https://github.com/sghiassy/react-native-sglistview), so I was hoping that this library could help :)

Regarding the ListView bug, tweaking the render props didn't help.

[2016-01-18 21:56] oblador commented on #16
Yeah, ListView is not perfect... Glad you worked it out! =)

[2016-01-18 21:56] #16 closed

[2016-01-25 19:34] myfoostrong opened #17 "ListView within collapsible"
Hey how's it going? Love the library but I'm having a little trouble putting a ListView within a collapsible component.

Whenever I put a ListView into a Collapsible, it seems to lose the screen border, and renders the rest of the list off page with no scrolling (But collapsing works fine!). If I remove Collapsible, it flex's to the edge of screen and allows scroll.

If I give the ListView a stati

[2016-01-31 07:16] Mohamed-amin opened #18 "Support for react-native@0.18.0-rc"
Is it possible to include react-native@0.18.0-rc in the peer dependencies ?

[2016-01-31 22:23] oblador commented on #18
Hi, I've removed `react-native` as a peer dependency entirely so you should be able to use it with release candidates without errors.

[2016-01-31 22:23] #18 closed

[2016-03-08 09:24] L-Jovi opened #22 "Unhandled JS Exception"
when I click faster will get below error

![image](https://cloud.githubusercontent.com/assets/7262199/13597212/46da6122-e552-11e5-9e1a-63ae473e0fff.png)

above error can't appear when I click slowly :(

any idea?

thanks for you time.

[2016-03-08 11:56] oblador commented on #22
Are you using the latest version?

[2016-03-08 12:15] L-Jovi commented on #22
@oblador  I use `react-native-collapsible` version: 0.5.5 and `react-native` version: ^0.19.0

[2016-03-09 11:52] L-Jovi commented on #22
@oblador  I integrate `import Accordion from 'react-native-collapsible/Accordion';` to my application and I never see this error again, but at first I always encounter red screen of __react-native-collapsible/Example__.

I don't think that 'react-native-collapsible` cause the bug, maybe another reason from __react-native-collapsible/Example__'s dependencies, so I close this issue.

thanks for your

[2016-03-09 11:52] #22 closed

[2016-03-09 11:56] L-Jovi opened #23 "is any way that open all children elements when init"
I found the property `initiallyActiveSection` could specify index of child element which will open,

but I want to open all children elements at first, what should I do?

thanks for your time.

[2016-03-09 12:20] oblador commented on #23
Hey! i'd use vanilla 'Collapsible'.

[2016-03-10 02:13] L-Jovi commented on #23
thanks :)

[2016-03-10 02:13] #23 closed

[2016-03-16 19:01] Efimster commented on #17
Hi, it seems like a bug.
Collapsible.js
.....
start(event => this.setState({ animating: true }));

fix:
start(event => this.setState({ animating: false }));

Cheers

[2016-03-16 19:24] Efimster commented on #17
It is fixed on github, but not in latest npm package

[2016-03-16 19:39] oblador commented on #17
Released in [0.5.6](https://github.com/oblador/react-native-collapsible/releases/tag/v0.5.6).

[2016-03-16 19:39] #17 closed

[2016-03-16 19:40] Efimster commented on #17
thank you!

[2016-03-18 22:28] ms88privat opened #24 "Collapsible within ListView within ViewPagerAndroid"
In my project I got a ListView with this row layout:
[code]

This is working fine in iOS. In Android it is working fine too until I wrap my ListView in a ViewPagerAndroid. It will not expand OR collapse anymore.

This version (without Collapsible) still works like expected.
[code]

I tested some more (before posting this issue):

It does work on my device (Android 4.4) and on my other Emulator dev

[2016-03-19 08:24] oblador commented on #24
That sounds very strange indeed, IIRC I've developed with Android 6 but don't see how there could be much difference since this is a pure JS module. Can you provide me a runnable gist so I can debug?

[2016-03-19 11:45] ms88privat commented on #24
It is working after I restarted this morning... sry about that.

[2016-03-19 11:45] #24 closed

[2016-05-24 17:31] KevinHu2014 opened #27 "Example : undefined is not an object (evaluating 'this state.collapsed')"
While trying the Example ,
 I got an error `undefined is not an object (evaluating 'this state.collapsed')` after pressing the TouchableHighlight

![test-mainactivity-05252016013043](https://cloud.githubusercontent.com/assets/7204070/15513690/5bcab426-2218-11e6-80a6-ae0cbf3b02c8.png)

[2016-05-24 17:58] KevinHu2014 opened #28 "horizontally collapsible support"
Is horizontally collapsible (left to right) support?

[2016-05-24 20:23] oblador commented on #27
Fixed now!

[2016-05-24 20:23] #27 closed

[2016-05-24 20:24] oblador commented on #28
It's not currently possible, what is your use case? Horizontal scroll view?

[2016-05-24 20:31] ammichael opened #29 "Close all active sections"
Hello there!

First, thanks for this amazing component. It is really awesome!

Is there a way to close all active collapsible? In my case, as an accordion, it will always have just one, but when I delete one of the sections, it automatically rearrange the accordion and it indexes, but it keeps the index opened. So I have a new section occupying the same accordion index, which is active.

Hope I ma

[2016-05-25 00:54] KevinHu2014 commented on #28
I am trying to make a sidebar that is collapsible.

[2016-05-25 10:02] oblador commented on #28
Then you're better of with either of these:

https://github.com/root-two/react-native-drawer
https://github.com/react-native-fellowship/react-native-side-menu

[2016-05-25 10:18] KevinHu2014 commented on #28
@oblador Thanks

[2016-05-25 10:18] #28 closed

[2016-05-25 20:36] SudoPlz commented on #10
I've lost the past 4 hours trying to deal with that.. I would really love to know how I can properly update my `rowHasChanged`.. What is the matter with that?

[2016-05-25 23:11] SudoPlz opened #31 "Trouble using a Collapsible within a List View."
I have no idea what my problem is, but after hours of playing with it I found out, that if I create my custom element with `collapsible` set to true, all works well.

Full code here:

[code]

![screen shot 2016-05-26 at 02 12 36](https://cloud.githubusercontent.com/assets/3070948/15558997/56a45694-22e7-11e6-9edc-5debba3050bc.png)

If on the other hand `collapsible` is set to false, the Collapsible

[2016-05-25 23:35] SudoPlz commented on #31
More info for the library creator:

[2016-05-25 23:45] SudoPlz commented on #31
Ok found what the problem was. I changed the state of collapsed right after I created it. That did not give enough time to the `Collapsible` to acquire the `contentHeight` and thus the `contentHeight` remained as 0 for ever.

[2016-05-25 23:46] SudoPlz commented on #31
I leave that open for the owner to decide what to do with this.

[2016-05-26 08:08] oblador commented on #31
The example starts out with a `collapsed = true` and it works just fine on iOS. I know that Android is sometimes eager to remove subviews. Are you using Android? Does the example project work for you (first one)?

[2016-05-26 10:05] SudoPlz commented on #31
I'm not using Android, but keep in mind that I use all that within a `ListView`.. Its a very weird error.

[2016-05-27 08:52] latusaki opened #32 "No ListView on Android"
When using this library, passing a ListView to the accordion, on iOS it works as expected, although on Android, I get no scrolling. Any ideas what may be causing this? I have made sure that the ListView has flex:1, and its rowComponents as well.

[2016-06-17 19:25] nagibmahfuj opened #34 "Load content when accordion is pressed"
Is it possible to show accordion content when it is pressed? I want to load some dynamic data on content. It seems its calling header and content every time when I press to any tab. Pls help @oblador

[2016-06-18 13:52] gHashTag opened #35 "What am I doing wrong?"
Follow the instructions connected
`npm install --save react-native-collapsible`
After add Example code in my project:
[code]

Simulator:
![simulator screen shot 18 2016 16 46 02](https://cloud.githubusercontent.com/assets/6774813/16171319/b5ee0e86-357c-11e6-9ede-b7be7f841b9c.png)

[2016-06-19 08:19] oblador commented on #35
This hasn't really anything to do with package, you are missing parenthesis for your render function. It should be `render () {`.

[2016-06-19 08:19] #35 closed

[2016-06-21 00:49] GeoffreyPlitt opened #36 "Can't run examples"
I went into Example and did "npm install", do I need to do anything else?

$ react-native run-ios
module.js:327
    throw err;
    ^

Error: Cannot find module './packager/babelRegisterOnly'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anon

[2016-06-24 17:25] gHashTag opened #37 "Background Image in Header"
Trying to make the image file header accordion adaptive on all platforms, it is impossible.
What's the matter?
![simulator screen shot 24 2016 20 24 35](https://cloud.githubusercontent.com/assets/6774813/16345263/19d4d19e-3a52-11e6-992c-4f88ee5e4205.png)

[code]

StyleSheet:

[code]

The complete code here:
https://github.com/gHashTag/iSoulClub/blob/master/index.ios.js

[2016-06-25 15:33] gHashTag opened #38 "How to make a submenu?"
How to make a submenu(subHeader) and suSubMenu?

[2016-06-26 21:14] oblador commented on #38
Did you try nesting `Accordion`s?

[2016-06-26 21:17] gHashTag commented on #38
Differently tried, you can set an example?

[2016-06-26 21:19] oblador commented on #38
Unfortunately I don't have the time to write you an example. If you post the code you are failing with I could try and see if I can spot any errors.

[2016-07-04 18:42] oblador commented on #29
Fixed in https://github.com/oblador/react-native-collapsible/releases/tag/v0.7.0

[2016-07-04 18:47] #29 closed

[2016-07-10 17:59] JakobReiter opened #41 "Flexbox limitation - unexpected behaviour"
Great Plugin. Love it. But I found a big bug!
I am using the `<Accordion>` to swap 2/3 of the page. There should be a 1/3 fixed Action Footer.

My problem is that if I assign a (pixel) height via `StyleSheet` to the accordion it works properly.
When I assign `flex: 1` to the accordion then the collapsable will no longer appear.
When nothing is assigned then the accordion is only the required heigh

[2016-07-19 19:41] ronnpang1 opened #42 "leave the content open"
Is there anyone to just leave the content and header open? For example if the user clicks on the header, it remains open until the user chooses to close it rather than it disappearing when another header is clicked on?

[2016-07-20 08:41] phpjoe commented on #34
I have the same problem!

[2016-07-20 08:48] oblador commented on #34
Currently no, the content needs to be rendered for the component to know the height. It would probably be possible with static content, but if you're loading it asynchronously that's a harder problem as the height will change, potentially mid animation.

[2016-07-20 08:48] oblador commented on #42
Just use multiple `Collapsible`.

[2016-08-02 13:33] Burak07 opened #43 "How to handle dynamic accordion content"
Thanks for this useful component,

I'm having a trouble while trying to create an accordion.

When user clicks a submenu under a menu, content of the accordion is changed and it is rerendered with a different content.

This is how i use activeSection in accordion
  activeSection={this.state.activeSection}
In my header content every view's structure is

View
View (image)
 View (text)
 View (image)

[2016-08-16 07:36] akd6162 opened #44 "How to insert a table instead of content..?"
I want a collapsible view in which a table View is open when I click on the item

[2016-08-16 12:05] gHashTag commented on #38
Menu:
https://gist.github.com/gHashTag/148e9a5e26b76ce793678c85c0b47d92
Submenu:
https://gist.github.com/gHashTag/b6b17c464fc2d0ed077fa6d3cfa14ccc
![simulator screen shot 16 2016 15 00 43](https://cloud.githubusercontent.com/assets/6774813/17698253/052511bc-63cb-11e6-8611-f846910c662a.png)
____
Now when you click on a menu, the menu offers everything, and that I would need to work both in turn.

[2016-08-25 05:05] JaxGit opened #45 "[Accordion][RN29][iOS] ListView in active Collapsible content would not show up until get swiped"
Just record here to help others.
If you render a ListView in renderContent(content, idx, isActive){} for `<Accordion />` , even if you have clicked the header to activate the Collapsible section and render the section with correct contentHeight, the ListView is invisible unless you swipe vertically or horizontally.

removeClippedSubviews={false} needs to be applied to ListView to prevent this.

Re

[2016-08-25 09:39] oblador commented on #45
Is this actionable from my side or should we close it and just keep it in the archive for reference?

[2016-08-29 08:28] veedeo opened #46 "How to make Accordion/Collapsible to take all available height"
I would like to put a ScrollView inside a collapsible/accordion, so when expanded it will take all available space.
It works only when I specify exect height, so I got a height from onLayout of Accordion's parent and put it to Accordion style height. but then this height sent direclty to inner collapsible without calculating accordion headers.
What Im doing wrong?

[2016-08-31 07:00] waleedarshad-vf opened #48 "Unmeet peer dependency"
UNMET PEER DEPENDENCY react@15.3.1
└── react-native-collapsible@0.7.0

**react-native version**
react-native-cli: 1.0.0
react-native: 0.27.2

**Package.json**
  "dependencies": {
    "@remobile/react-native-action-sheet": "^1.0.1",
    "alt": "^0.18.5",
    "lodash": "^3.10.0",
    "react": "^15.1.0",
    "react-native": "0.27.2",
    "react-native-android-share": "0.0.4",
    "react-native-bottom

[2016-08-31 07:01] waleedarshad-vf commented on #48
0.27.2 require react version of 15.1.0. so changing version does not work. any help would be appreciated.

[2016-08-31 07:07] oblador commented on #48
It's unrelated to this module as it has no peerDependendencies.

[2016-08-31 07:22] waleedarshad-vf commented on #48
I am newbie so does not understand. what it means. do i can use it safely ignoring this?

[2016-08-31 07:22] waleedarshad-vf commented on #48
What i have to do exactly ?

[2016-08-31 09:17] oblador commented on #48
The example project is using
[code]

so you can safely use this component in your project.

[2016-08-31 09:57] waleedarshad-vf commented on #48
Thanks

[2016-08-31 13:00] #48 closed

[2016-09-05 09:07] akd6162 opened #49 "How to add different- different View in every section where View is generated by the other file"

[2016-09-21 08:30] waleedarshad-vf commented on #45
I am having same problem. Listview is getting load after few seconds

[2016-10-03 05:11] blazeprasanna commented on #42
@oblador Kindly Explain how to use multiple collapsible. Please describe

[2016-10-03 17:10] ronnpang1 commented on #42
@blazeprasanna I managed to solve it by creating a component that had the collapsible and then apply a mapping function to create multiple instances of the collapsible panel. This way, each collapsible maintains its own state. For instance, you would have:

var itemfeed = this.state.jsonData.map((item,i) => {

<panel key={i}></panel>
}

where panel is some component where you actually create or im

[2016-10-13 11:53] rainbowhat opened #50 "Auto Collapse when select another item in list"
<Accordion
          header={header}
          content={content}
          easing="easeOutCubic"
        />

How do I make it work like in Demo where it would automatically collapse when another item is being selected.

[2016-10-24 10:56] frevib commented on #50
This is done by default like in the demo. Can you show you code?

[2016-10-25 18:59] tume opened #51 "Broken with latest react-native (0.36)"
Upgraded from 0.34 to 0.36 and all my collapsible elements stay collapsed all the time. Tested also with example from this projects and saw the same behaviour or lack of it.

Didn't have too much time to investigate yet but with limited testing it seems that height is always zero in onLayout callback.

[2016-10-27 00:09] oblador commented on #51
Yes, i'm aware. Unfortunately this is because of a breaking change (not sure if intended or not) in the native implementation of `measure()` which will no longer report sizes outside of the parent view. I can't find any issues about it, so you're welcome to report it. If it's not fixed in core this would require a substantial refactor.

[2016-10-28 00:39] tioback commented on #46
Check #52

[2016-10-28 00:41] tioback commented on #34
Check #52

[2016-10-28 04:07] nmquebb commented on #51
The quick fix is to use `LayoutAnimation` instead of `Animated` and storing the content's original height. Then you just set `{ overflow: 'hidden' }` when `collapsed: false` and `{ overflow: 'hidden' , height: 0 }` when `collapsed: true`

I wrote a custom component around that idea. I'll try tinkering with a PR if I can find some time next week.

[2016-11-02 13:18] SuperDuperMartin commented on #51
a temporary fix for this is to set  {overflow: 'scroll'} on line 99 in Collapsible.js
![image](https://cloud.githubusercontent.com/assets/8627696/19930118/3bc0deee-a107-11e6-9325-9b29567ce773.png)

[2016-11-02 22:19] MatthiasDebaere opened #53 "Scroll To Bottom (need help)"
Hi,

I've been using your Accordion component inside a scrollview and I'm wondering if there's a way I can scroll to the bottom of the scrollview when a section is active.

I gave a ref to the scrollview so I'm thinking I could use 'this.refs.scrollviewRef.scrollTo' inside the 'onChange' callback but I don't know how to get the full height of the scrollview...

can you help me?

Thanks in advance

[2016-11-02 23:18] satya164 commented on #51
Hey @oblador , can you link me to the commit which introduced this change?

[2016-11-03 07:26] MatthiasDebaere commented on #53
As a matter of fact, it would also be nice to be able to scroll to a certain section on active.

It's something I tried figuring out my own, with the scrollTo function inside the scrollview, but the problem is that the section don't have refs (or when they do, it's hard to call the right ref to know the position of it in the scrollview..)

[2016-11-03 09:33] zoharlevin commented on #51
following

[2016-11-03 09:58] oblador commented on #51
@satya164: I did try to find the offending commit at the time, but didn't find it immediately and don't have a ton of time at hand currently. I know that the `css-layout` have gotten pretty substantial (and breaking) changes in the flexbox implementation lately that I suspect is the culprit.

[2016-11-03 10:15] satya164 commented on #51
@oblador Hmm. Okies.

[2016-11-03 10:19] MatthiasDebaere commented on #53
Update: I have found a way. I will PR this weekend or next weekend with some code

[2016-11-03 12:50] edencakir commented on #45
I'm having the same problem. removeClippedSubviews={false} solved my problem. @JaxGit Thanks!

[2016-11-03 14:14] zoharlevin commented on #51
@satya164
not 100% sure, but i think this is the commit [0a9b6be](https://github.com/facebook/react-native/commit/0a9b6bedb312eba22c5bc11498b1cc41363e5f27)
it's mentioned in the breaking changes for 0.36

[2016-11-06 15:51] edencakir opened #55 "Open a section programmatically"
Is it possible to open/close - toggle a section? It would be nice to have it.

[2016-11-06 15:59] edencakir commented on #55
Fool me, using states at _activeSection_ prob can toggle a section.

[2016-11-08 20:10] oblador commented on #51
@tume In 0.37 there's quite a few CSSLayout associated bugfixes, are you still experiencing it with that version?

[2016-11-08 20:19] tume commented on #51
Haven't have time to investigate yet. Can probably try later this week if no one beats me to it.

[2016-11-09 14:52] tume commented on #51
Yeah still broken with 0.37 and also with 0.38-rc.0

[2016-11-10 09:26] oblador commented on #51
A fix is landed internally at Facebook, but no ETA on when it's released in OSS just yet.

[2016-11-10 09:31] oblador commented on #55
If you want to move control over active section to your own component, you must implement the `onChange` prop to make header taps work. See the example project for usage.

[2016-11-11 12:23] edencakir commented on #55
I'll give it a shot. Thanks for the reply.

[2016-11-11 12:23] #55 closed

[2016-11-16 10:05] yezongyang commented on #51
any solution for the latest rn

[2016-11-16 10:28] oblador commented on #51
The fix was reverted https://github.com/facebook/css-layout/commit/204aba80b9818db0e9b6f6f74d9a2fd2580ede1c, no idea why.

[2016-11-16 10:36] JonathanUsername commented on #51
We're having this issue with a similar component. Here's our quick and dirty workaround, using ScrollView:
[code]

[2016-11-16 10:39] simonsmith commented on #51
The fix is listed as going in `0.39` here - https://github.com/facebook/react-native/wiki/Breaking-Changes#039

[2016-11-16 18:27] nicholeuf commented on #51
Thank you for the suggestion @SuperDuperMartin.  If anyone runs into this issue and has already updated past RN 0.36, we have forked the repo and made the change.  You can reference our fixed branch by declaring the following in your package.json.

`"react-native-collapsible": "git://github.com/relayfoods/react-native-collapsible.git#collapsible-not-expanding-temp-fix"`

Just be sure to switch bac

[2016-11-17 22:01] basequatro opened #57 "Calendar Inside collapsible"
Calendar is not showing inside collapsible.
Only shows after swiping the calendar component.

[2016-11-30 18:57] mykelaballe opened #58 "onPress inside renderHeader and renderContent throws an error"
RN: 0.32
react-native-collapsible: 0.7.0

I have TouchableOpacity inside my renderHeader and renderContent which has an onPress. But when clicking it, it throws an error.

![image](https://cloud.githubusercontent.com/assets/22584900/20766547/d19da20a-b771-11e6-8e8b-4f7f49c116f0.png)

[2016-12-02 20:08] SudoPlz commented on #57
This might have to do with the calendars `ScrollView` component using `removeClippedSubviews`.
You might wan't to manually turn that off by doing: `removeClippedSubviews={false}`

[2016-12-02 20:09] SudoPlz commented on #51
React-native 0.39 is out, but I still have problems with the `Collapsible`. Any ideas?

[2016-12-03 02:45] jgkim commented on #51
@SudoPlz That's because the fix has not landed in 0.39. Maybe 0.40? Currently don't know ETA.

[2016-12-05 12:54] susan-github opened #61 "Can't open the panel which is be collapsed if has not set height style to Collapsible"
RN Version: 0.38.0
collapsible Version: 0.7.0
If I haven't set height or minHeight style to Collapsible, the collapsed panel can't be opened.
[code]
[code]

[2016-12-05 13:03] wootwoot1234 commented on #61
Thanks @susan-github !  I was having the same issue but didn't know how to fix it till I saw this!  I'm running the latest React Native.  Adding ```style={{ minHeight: 100 }}``` to the ```<Collapsible/>``` element seems to fix it.

[2016-12-08 08:10] elie222 commented on #51
Using this branch it still isn't expanding for me on RN 0.37:
"react-native-collapsible": "git://github.com/relayfoods/react-native-collapsible.git#collapsible-not-expanding-temp-fix"
Any ideas? Is there something else I need to add to my code?

[2016-12-19 09:45] thundenilla opened #62 "Not collapsing"
Somehow after awhile, it stop working and not collapsing anymore. Which is weird.

**SUB COLLAPSING**
  `toggleDocuments = () => {
    console.log('triggered');
    this.setState({ collapsed: !this.state.collapsed });
  }`

 ` render(){
    return(
      <View style={{backgroundColor:'white'}}>
        <SubBody isCollapse={this.toggleDocuments} />
        <Collapsible collapsed={this.state.collaps

[2016-12-19 10:49] dmitriybrakk opened #63 "Allow each Collapsible to open/close individually independent from other Collapsibles"
`	renderSections(sections){
				return(
					sections.map(function(section, i){
							return (
								<View>
								<TouchableHighlight onPress={???}>
									<View style={styles.header}>
										<Text style={styles.headerText}>{section.chapter}</Text>
									</View>
								</TouchableHighlight>
								<Collapsible collapsed={this.state.collapsed} align="center">
									<View style={st

[2016-12-19 11:09] sibelius commented on #63
could u please format ur code? and give more information?

[2016-12-19 11:18] dmitriybrakk commented on #63
There are multiple Collapsible components that render dynamic content, they are all open at once when the screen is rendered. I want each of them be able to open and close independently of each other. For example, i have overview section and short description section. So, i want to collapse overview while leaving shot description open. How could i approach that?

[code]

[2016-12-22 08:15] cq920702 opened #64 "Not showing on RN39"
Not showing on RN39 on iOS.
Collapsible
          sections={[1,2,3,4,5]}
          renderHeader={this._renderHeader}
          renderContent={this._renderContent}

  _renderHeader(){
    return(<View><Text>General Introduction to Animal Farm)}
  _renderContent(){
    return(<View><Text>123)}what causes this issue?

[2016-12-22 08:45] #64 closed

[2016-12-22 09:54] cq920702 opened #65 "Unable to expand view in iOS on RN39"
It load the list, When taps on it, it does not expand in iOS on RN 0.39. I am using Xcode 8 and iOS 10 simulator to test it.And your example code has the same problem.

[2016-12-23 17:50] joypatel04 commented on #63
@dmitriybrakk Instead of using .map function you can render separately using ListView and it goes to renderRow so every section will render separately and open close separately.

[2016-12-25 06:32] RemeJuan commented on #65
Same problem on Android,

I found some suggestion in https://github.com/oblador/react-native-collapsible/issues/51, this has been an issue since 0.36.0, there is apparently a fix that needs to be made by react-native which was expected to be in 0.39, but has not yet been released.

[2016-12-25 14:42] RemeJuan commented on #51
I just ran into this, should not of updated, I was on 0.34.1 and trying to go back is a bit of a pain, will have to rework my layout until FB fixes this, have tried @SuperDuperMartin's with no luck, while it does technically work, it kinda stuffs it up more.

[2016-12-25 16:55] wootwoot1234 commented on #51
I had the same issue. Ended up downgrading react native and waiting for a better fix.

[2016-12-26 09:26] RemeJuan commented on #51
@wootwoot1234, how did you get it working again, I am unable to get past the 'cannot find variable process' error.

Installed 34.1, ran the upgrade again, dumped my node_modules folder, the whole shebang and still stuck. On leave now so I actually want to work on the thing, but this issue and other keeps me back down at 34.1.

[2017-01-05 20:47] Paul-Todd commented on #65
I am starting to wonder if we need to look at refactoring the code to remove this blocker as it also looks like it is still in 0.40 and with RN moving to monthly releases it seems unlikely to get fixed in the near term

[2017-01-06 17:20] SudoPlz commented on #51
0.40 is here, was the issue resolved?

[2017-01-06 18:29] RemeJuan commented on #51
@SudoPlz, nope and no update yet, you going to have to stick it at 0.35 until it gets fixed or rework your UI to no longer need the accordion

[2017-01-06 23:29] oblador commented on #51
This got some attention a while back because of my fb post, once that passed it hasn't been worked on since AFAIK. I think the only way for it getting fixed is if we make it know that it's affecting a large chunk of users in the [RN core issue](https://github.com/facebook/react-native/issues/10603) or perhaps on product pains. I'm not comfortable with patching yoga myself as I don't know what brok

[2017-01-06 23:59] SudoPlz commented on #51
@oblador would you be kind enough to open an issue in react-native describing the problem the best you can? If anyone you're the one amongst us that knows most about `react-native-collapsible` so you can describe the problem much better than I can.
Also, if you open a product pain for this, I'll definitely upvote it...!
We've waited a long time for this fix.

[2017-01-07 07:51] oblador commented on #51
I linked to the issue in my last comment, no use in creating a duplicate.

[2017-01-09 02:13] thundenilla opened #66 "Can't click the item in the renderContent for Accordion."
When i click an item from the renderContent to navigate somewhere, I got this 'undefined is not a function' which is weird.  Even the method is empty.

`renderContent(section) {

    return (
      <List
        dataArray={section.serviceList}
        renderRow={(item) =>
          <ListItem
            button
            onPress={() => this.bread(')}
            style={styles.subListView}>

[2017-01-09 02:14] #62 closed

[2017-01-09 02:17] thundenilla commented on #58
@mykelaballe did you manage to solve it? im stuck in the same situation.

[2017-01-18 13:31] robcalcroft opened #68 "Broken for 0.40.0?"
Does this work on latest RN release? Doesn't render for me

[2017-01-20 19:09] ominiverdi commented on #68
me using react-native-collapsible/Accordion, as soon as update to 0.40 I can see the titles of the Accordion. Clicking on the titles changes the icon for expansion/compression but no contents shows anymore.
Anything I can do to help fix this?

[2017-01-21 13:16] ms88privat commented on #68
I upgraded from 0.22.0 to 41-rc and it is also broken for me (after fixing a lot of other things...)

[2017-01-21 22:24] JUnderwood1991 commented on #68
Agreed that it's broken for latest release.

[2017-01-22 12:16] ms88privat commented on #68
see https://github.com/oblador/react-native-collapsible/pull/69

[2017-01-22 12:18] oblador commented on #68
AFAIK this should be fixed a few days ago in yoga master, hopefully that will make it into the next release of RN.

[2017-01-23 09:41] rajnikantsethiya commented on #65
Hello, Is there any solution for this problem , it is not expanding in iOS..Please help

[2017-01-23 19:12] oblador commented on #65
@rajnikantsethiya It should work if you use react-native master

[2017-01-24 08:52] bhses commented on #53
@MatthiasDebaere did you find a solution to this? I'm looking into the part about "scroll to a certain section on active"

cheers

[2017-01-24 09:13] MatthiasDebaere commented on #53
Yes, I did, but I stopped using this module.

I simply made my own list of 'collapsable' items inside a scrollview. When I click on a header of the item I open/close the content of the collapsible item and I call a function to get the position of the item inside the scrollview. With the position I can call a function which will scroll the scrollview (by using the scrollview's ref) to the position

[2017-01-24 23:45] Kurt57 commented on #53
how the accordion work for you ? are you able to expand and collapse the elements?

[2017-01-26 08:52] Naoto-Ida commented on #68
+1

[2017-01-29 18:29] Kurt57 commented on #68
@oblador  new infos that the fix will be definitively in the next react-native version ?

and do anyone know when the new react-native version will arrive....

[2017-01-29 18:40] Naoto-Ida commented on #68
@Kurt57 Didn't they say that they're slowing down the updates to once per month? I'm guessing it'll be sometime this week, considering 0.40.0 came out about 25 days ago.

[2017-01-30 19:21] Kurt57 commented on #68
with the fix for this module? @Naoto-Ida

[2017-01-30 22:21] Kurt57 opened #70 "expand all sections?"
Hi is it not possible to expand all sections? without collapsing others...

[2017-01-31 01:59] Naoto-Ida commented on #68
@Kurt57 Not sure, I guess we'll have to wait for 0.41.0 and see.

[2017-01-31 09:11] LadislavBohm commented on #70
You should be able to easily do it by settings props of all collapsible components to true.

As mentioned in documentation there is **collapsed** prop which handles this. You can do it manually or redux way via some action.

[2017-01-31 19:36] Kurt57 commented on #70
but how if i use accrdion ? @LadislavBohm

[2017-01-31 19:39] LadislavBohm commented on #70
Generally accordion is a specific control that allows only one section to be expanded at a time.

If you need multiple sections to expanded at the same time, use different control like Collapsible and make your own list out of it.

[2017-02-02 14:55] davingreen commented on #68
I'm really desperate to get this working today. I've tried rolling back RN to 0.39.2, but still no expanding on iOS. Unfortunately, this is an urgent bug fix, so I can't wait for the next release of RN. Can anyone who has solved this by "building from the source" point me in the right direction for getting the collapsibles working on iOS?
Note, it works fine on Android (0.39.2 and 0.40.0)
So far,

[2017-02-02 16:34] ammichael commented on #68
@davingreen Incredible how it is working on Android. Mine didn't work from RN 0.37 up. I needed to downgrade to RN 0.36.

[2017-02-02 17:05] davingreen commented on #68
@ammichael Thanks for the response. I tried a completely new RN project with:
`react-native init Project --version react-native@0.36.0`
But I'm still not getting the expansion of sections. Can you shed some more light on how you rolled back to 0.36.0 and if you did anything else to get it working?

[2017-02-02 17:11] ammichael commented on #68
@davingreen Actually I just downgrade using npm, both react and react-native. Something like:

[code]

Then I restarted the packager and worked fine..

[2017-02-02 17:32] davingreen commented on #68
Reading through #51 , it seems like we keep waiting for a fix with each new RN release, but the last several have not had it.

@ammichael Downgrading didn't work. 😦  But I downgraded and then used this fork: git://github.com/relayfoods/react-native-collapsible.git#collapsible-not-expanding-temp-fix. Finally got it to work..

If anyone has an approach that doesn't require downgrading RN, please sha

[2017-02-03 09:15] oblador commented on #68
Hey guys, try [0.8.0](https://github.com/oblador/react-native-collapsible/releases/tag/v0.8.0) together with the just released React Native 0.41.0

[2017-02-03 09:44] Naoto-Ida commented on #68
@oblador does it work? I'm on 0.41.0 so I can test it if you haven't yet.

[2017-02-03 09:51] oblador commented on #68
I've tested the Example project and it works, but please do test it.

[2017-02-03 10:33] bhses commented on #68
it works for me! 👍

[2017-02-03 16:17] jefferyvincent opened #71 "Collapsible not working."
It appears that the Collapsible View is not working in ios. I've tried updating to the latest version ("react-native-collapsible": "^0.8.0") and I am still having issues.

Seems this remains hidden regardless.

[code]

[2017-02-03 17:56] oblador commented on #71
Are you on React Native 0.41?

[2017-02-03 21:09] jefferyvincent commented on #71
No 0.40.0.

[2017-02-03 21:15] jefferyvincent commented on #71
Works!!!! :) Thanks

[2017-02-03 21:15] #71 closed

[2017-02-05 21:21] manosim opened #72 "Accordion auto-collapses when pressing on a child element"
Hi there and thank you for the amazing work with collapsible and vector-icons! I've been using react-native-collapsible for some time and today I upgraded RN to `0.41.1` and react-native-collapsible to `0.8.0`.

It looks like when I press on an element inside the accordion's collapsible content, it tries to collapse that section while it should not. I am attaching a gif that demonstrates the issue

[2017-02-05 23:57] oblador commented on #72
Oh, that doesn't look right. Do you have any example code I can try out?

[2017-02-06 00:11] manosim commented on #72
Sure! Here's a quick example repo I created for this case: https://github.com/manosim/AccordionExample

[2017-02-06 21:39] ammichael commented on #68
Works for me too. Nice! (:

[2017-02-08 01:12] Kurt57 opened #73 "Collapsible - How i can get sender if an collapsible is touched"

[2017-02-10 21:14] #68 closed

[2017-02-11 09:12] kccheung opened #74 "Can anyone help provide a typescript declaration for this react native library?"
I am struggling in making the declaration for my project which uses typescript. I have tried using below:

    declare module "react-native-collapsible" {
        import React, { ReactNode, Component, ComponentClass, PropTypes } from 'react';
        import { ViewStyle } from 'react-native';

        namespace RNA {
            export interface IAccordionProperties extends React.Props<AccordionSta

[2017-02-17 09:27] nbastoWM opened #75 "In OSX Sierra/Xcode 8.2.1 - Accordion inside Collapsible doesn't extend its height"
Hi,

I have an Accordion inside a Collapsible and once the Collapsible is opened the Accordion can't extend its height for more than that height. The accordion items open as they should but the last item doesn't show when opened because the full component height is kind of fixed to the height of the closed Accordion.
I have it working right in another Mac with ios Yosemite and Xcode 7.2 so I think

[2017-02-20 09:00] keung725 opened #76 "How can I make a react native expanding cells scrollview in IOS which like the below example?"
How can I make a react native expanding cells scrollview in IOS which like the below example?

[https://www.raywenderlich.com/99087/swift-expanding-cells-ios-collection-viewsexample](url)

I have tried a long time to calculate manually but the performance is bad. And I have done a research a long time, seems there are no any third party library to do it.

Would anyone can help me? Thanks.

[2017-02-21 00:36] ammichael opened #77 "Poor performance on Android"
Hi there!

First I want to thank you for this awesome plugin. It works fine, and do its job. Thanks!

The only thing bugging me is the perfomance; I'm using it as an accordion, 0.8 version with RN 0.41, and when I tap the accordion header, it takes a little while to close the current active and open the new one. I noticed it's not FPS related.. the FPS does drop down from 60fps to 43fps in my case

[2017-02-26 01:06] ajonno opened #78 "Tap on the content area to expand/collapse ?"
hi, firstly thanks for this component.

Is it possible to set it up so that the content area (in my case will be ```<Text>``` of different heights per ListView row) can be tapped - and this will trigger expanding and collapsing the ```<Collapsible>``` element ?

[2017-03-02 16:42] cvongrim commented on #72
I am having the same issue on RN 0.41.2 and 0.8.0. @manosim Did you find any temporary solution?

[2017-03-07 13:39] brunocascio opened #79 "Cannot read property 'setNativeProps' of undefined"
[code]

With the code described above I got this error:

![simulator screen shot mar 7 2017 10 38 25](https://cloud.githubusercontent.com/assets/2397875/23658674/349b2cc8-0322-11e7-932a-bd8bfd5b4f89.png)

Did I misunderstand something?

I'm using:

[code]
Thanks

[2017-03-27 08:45] mohitgaur2 opened #82 "How can we achieve a expandable list view 4 level deeper(nested) using json."
How can we achieve a 4 level expandable list view.

**Our proposed solution**
Can we add one more method "renderSubMenu"  like RenderHeader and RenderContent in Collapsable class for rendering the list view under list view.

**What we want to achieve**.
Want to implement a expandable table or list view. we have a json with 4 level expandable, want to display that json on list view using ur library

[2017-03-29 10:43] devilop3rz commented on #77
I got the same problem. It takes about half a second until the item starts to expand. The animation is relatively smooth. The only problem is the time it takes to start.

Thanks for help

[2017-03-30 01:20] JeffreyLeeSpokeo commented on #77
I too have a similar issue. In my collapsible, it renders some component with a collapsible in itself. The inner component's collapsible works fine. But the outer one is heavy. I learned that when I change the state in the component, I actually re-render everything therefore making it slow. Not sure if that's the same with everyone else.

[2017-03-30 01:59] Doko-Demo-Doa commented on #77
How did you use it anyway? The <Accordion/> component itself generates n sub-components based on your section length. And yes it does affect the performance.

The only solution I can think about right now is implementing a ListView with a Touchable and Collapsible as row item. But with this way the "accordion" nature is lost.

[2017-04-05 18:36] Talor-A opened #83 "Broken on 0.43?"
This seems to be similar to #68. I'm using react-native 0.43.0-rc.1. the content inside my `Collapsible` does not show up, but the Collapsible expands to the correct height and the inspector says that the items inside are positioned where they should be. I'm using `react-native-collapsible@^0.8.0`.

[2017-04-06 20:16] oblador commented on #83
Do you have a minimal example I can try? Are you using android or iOS?

[2017-04-07 11:44] Braidio commented on #72
Had this same issue so I'm super interested in what other people have to say. Basically any interactive child component ( in my case, a textarea input ) causes the Accordion to close.

But, I discovered a super hacky way to get this to work...

Just wrap a `<ScrollView>` around your content. It won't work as a ScrollView because when it opens up, the scrollView will have unbounded height. So it wo

[2017-04-10 20:01] jcollum commented on #83
[code]

It's working for me. Seeing some black flashing on the transitions though. Tracking that down.

[2017-04-11 06:19] oblador commented on #79
It seems like the `View` from native-base doesn't support being wrapped in a `TouchableHightlight`, try the one from `react-native` instead.

[2017-04-12 21:41] JeffreyLeeSpokeo opened #85 "Nested collapsibles"
I have an issue where my inner collapsible collapses, but the outer one does not scale. My code structure looks like this:

[code]

Does collapsible not support this or is there possibly something wrong with my code? When I change the outer collapsible into a view, my container expands properly. Also when I just simply get rid of the outside collapsible

[2017-04-13 21:12] pr-rojan commented on #45
@JaxGit Could you please share your code to render ListView in renderContent?

[2017-04-17 07:51] jariwalabhavesh opened #86 "How to scroll to perticular header when it is out of screen on expand or collasped."
I am using Accordion to render list of section. I have many section and each has different height,  it is working like:
At a time any one section will expanded, if i click any other section the it will be expanded and rest of will be collapsed.

I am facing one issue: That is screen jumping issue:

Suppose i have first section having long content area which take more than a screen. and now by keep

[2017-04-20 10:59] Lorezz commented on #58
same problem here

[2017-04-20 20:09] oblador commented on #58
@mykelaballe Have you tried upgrading your version of React Native?

[2017-04-21 13:12] marxsk opened #87 "TouchableHighlight in _renderContent() is called when you click on header"
When TouchableHighlight is defined in _renderContent() of <Accordion> its onPress method is called even without touching that element (as it is not visible at all). onPress() method is called once for every occurrence of TouchableHighlight and for every element. Same happens when accordion element is displayed initially.

[2017-04-21 13:42] #87 closed

[2017-05-08 10:47] PreetiW commented on #32
I am facing the same problem.

[2017-05-25 02:23] huy-lv commented on #86
The same problem here :3 waiting for some answer :3

[2017-05-25 08:37] hugopretorius72 commented on #83
Any solution on this?

[2017-05-25 14:59] jcollum commented on #83
@hugopretorius72 are you asking me or @Talor-A ?

[2017-05-25 21:13] brlrb opened #89 "Open a tab by default"
How can we set an Index so that some tab are open by default. Currently everything is collapsed. For example, we can have index[4] set to open when the app loads or when calling the accordion component.

[2017-05-26 00:14] aarontrank commented on #89
See this pull request I submitted.  Modify your code as such:  https://github.com/oblador/react-native-collapsible/pull/81

[2017-05-28 12:08] kennedy0527 opened #90 "content disappear sometimes when click to expand"
![issue in action](https://thumbs.gfycat.com/ThoroughWanAnura-size_restricted.gif)

I just discover that if I keep clicking to expand accordion, then content will sometimes disappear

how to fix that?

my data structure is like below
[code]
[code]
and render method

[code]

maybe the issue is caused by my usage ?!

if I'm wrong please recommend me some better usages

thanks

[2017-05-30 07:14] barbarossusuz commented on #58
same here for this issue, any fix?

[2017-05-31 17:45] arcollector commented on #90
flex: 1 in renderContent main wrapper

[2017-06-01 06:20] SupriyaKalghatgi commented on #79
#[574](https://github.com/GeekyAnts/NativeBase/issues/574)

[2017-06-02 13:48] kennedy0527 commented on #90
![issue](https://media.giphy.com/media/l1BgT72cBeURETnuU/giphy.gif)

[2017-06-02 13:58] kennedy0527 commented on #90
thanks @arcollector
add `flex: 1` into renderContent main wrapper fix the problem

but it cause another problem ...

![](https://thumbs.gfycat.com/ReasonableVibrantArizonaalligatorlizard-size_restricted.gif)

click button then its text will disappear

and re-expand it will become normal again...

I have set text style to static fontSize and `flex:1` still doesn't work

btw it's normal if I don't a

[2017-06-02 21:22] alxvallejo commented on #65
I'm also facing this issue. If i set collapsed={false}, i can see my renderContent, which in my case is a FlatList.

[2017-06-03 04:54] arcollector commented on #90
dont put a view inside a touchable
also, in render content wrap the entire output inside a view

[2017-06-03 07:09] kennedy0527 commented on #90
@arcollector thanks for reply

I've changed _renderContent wrapper like below
[code]
I give every button  `padding: 16`
and subbutton `paddingLeft: 32` (top, bottom, right is still 16)

and after I pressed button, its height will be calculated wrong (others are also wrong)

as you can see below gif

![issue](https://thumbs.gfycat.com/EnlightenedSmoggyImperialeagle-size_restricted.gif)

and after I

[2017-06-03 13:23] arcollector commented on #90
no idea mate,, try removing the view elem inside each touchable
also, try setting lineHeight at each text elem, and see what ocurrs

[2017-06-05 11:04] kennedy0527 commented on #90
@arcollector I just discovered that the problem is on the `<Text> `

I changed text color like below
[code]
but If I don't change it, it will become normal...
[code]

![s](https://thumbs.gfycat.com/FlatImperturbableArabianwildcat-size_restricted.gif)

what a weird problem...

[2017-06-12 13:10] kennedy0527 commented on #90
I fix this by setting static height to `TouchableOpacity ` not its inner `View`
[code]

[2017-06-12 13:10] #90 closed

[2017-06-14 16:40] njt1982 opened #91 "Recalculate height issue"
I'm using this collapsible wrapper with Algolia facets.

---
Starts like this:

![image](https://user-images.githubusercontent.com/384976/27144139-a76100e4-5128-11e7-902f-bb76fe64c29a.png)

---

Then I select a facet options and the updated list from Algolia has no empty options in it, so in this case, the "No" value disappears. The collapsed area shrinks down. All is good in the world!

![image](

[2017-06-14 16:54] njt1982 commented on #91
If I toggle the collapsed state, then "Yes" Reappears, under "No". It's like I need to somehow trigger `_handleLayoutChange` again?!

[2017-06-14 23:11] rrajasek92 commented on #66
Did you ever figure this out?

[2017-06-14 23:26] rrajasek92 opened #92 "Does the Accordion work with a Touchable Highlight in the renderHeader and renderContent arguments"
Can't seem to get this working. For example:

[code]

[2017-06-15 15:49] njt1982 commented on #91
When I expand the box, `_handleLayoutChange` is triggered and `contentHeight` is 52. When I select Yes, that method triggered again (I assume via `onLayout` on the sub view?) and the height is 26. This is expected...

However, when I remove the checkbox, onLayout is not triggered. I have tried removing the animation check on it, but it made no difference. It never gets called a second time.

I hav

[2017-06-15 15:52] njt1982 commented on #91
[code]

I just added that onLayout to the List... interestingly, that fires with the same behaviour as the Collapsible (ie, it does not console log when it is means to expand back out again).

[2017-06-15 15:58] njt1982 commented on #91
![jun-15-2017 16-55-40](https://user-images.githubusercontent.com/384976/27190177-89309ee0-51eb-11e7-8f30-487354f8a4c7.gif)

So what you can see here:

1. Initial expand. We have 2 items.
2. I tick Yes and to collapsible area shrinks to encompass just the Yes result.
3. Toggle the collapse twice and we still see Yes. All good so far
4. Untick Yes and the No item its re-rendered, pushing Yes off th

[2017-06-15 16:16] njt1982 commented on #91
Hmm so this seems to have solved the issue:

[code]

There is appears to be a bug with how Native Base List (or maybe ListView in core?) works with Collapsible.

[2017-06-16 21:37] rrajasek92 opened #93 "Bottom Element of Accordion buggy?"
I'm having an issue where the last element in my Accordion doesn't animate open, and also won't collapse when I press it again. Is this a common problem?

[2017-06-21 14:24] marxsk commented on #53
For those who tries to scroll to a right section, the most simplistic solution that works only for headers of fixed size. This solution scroll the view, so the expanded item starts at the top of visible view.

Take a look at https://github.com/marxsk/zobro2/commit/6ec2b4f46a1ec68cf0b685c281491163f7b40bc2

[2017-06-26 10:40] kkortes opened #94 "TouchableOpacity (and other basic-onPress components) doesn't work when Collapsible starts off as collapsed"
Having "collapsed={true}" and rendering click/press-ables in the accordion disables the ability to press items.

renderDates in the example below contains `<TouchableOpacity>`'s with simple `<Text>`'s. Having "collapsed={false}" on render will allow me to press stuff, but not wise versa.

`<Collapsible
            ref={component => this.topMenu = component}
            collapsed={true}

[2017-06-26 20:03] tiaaaa123 opened #95 "Collapsible closing without modifying the props."
Hi!
I'm having issue with the Collapsible component.

As you can see in this [gif](https://gyazo.com/14eabb4a1d34c887f8a5a6bd47341585), the Collapsible close, but the props doesn't change. When I press on the button to show/hide the collapsible, it change the props value to close (But it doesn't change in the app because it already collapsed!). On the second click, the Collapsible is back open.

G

[2017-06-28 18:02] tiaaaa123 commented on #83
I have the same issue! Anyone have the solution?

[2017-06-28 18:12] tiaaaa123 commented on #83
Aaaannndd I found the solution @Talor-A @oblador
Apparently, `Collapsible` doesn't appreciate that his children is `flex: 1`....
Removing it fix my issue

[2017-07-05 16:35] slorber commented on #94
Hi,

I can confirm this issue. Here's a way to reproduce the problem:

[code]

Here the toggle function is never called.
What I wonder is if it's expected that the Collapsible children contains any press listener, because it's actually not implemented that way in examples. Maybe this could be better documented if not supported?

[2017-07-05 17:35] slorber commented on #77
Hi,

I'm having the same problem but worst: the animation takes time to start (transitionToHeight called late) + the animation FPS is very low, on both iOS and Android (run inside an Expo app, published or in debug mode)

My code is pretty simple (I use Glamorous-native View, but with plain ReactNative views it's not better)

[code]

Any idea what could be the problem? I've even tried to copy-past

[2017-07-06 14:28] slorber opened #96 "Most basic example is really slow (iOS/Android in latest Expo)"
Hi,

I'm trying to run the most basic Collapsible example, inside Expo client.
The expansion happens  a long time after the press event, and the animation is really slow (like we can only see 1 or 2 frames on normal android devices and some more on good iphone)

I have published it on Expo so that people can see for themselves the issue: https://expo.io/@slorber/collapsible

The example is taken f

[2017-07-06 14:34] slorber commented on #77
I've opened another issue because I encounter a more general performance problem affecting iOS + Android on latest Expo client: https://github.com/oblador/react-native-collapsible/issues/96

[2017-07-06 20:33] iRoachie commented on #74
@kccheung Will take a look at it

[2017-07-07 11:04] slorber commented on #96
Ok so now I am able to run the same code without any perf problem. Totally unable to understand :o

[2017-07-07 16:10] #96 closed

[2017-07-09 03:34] Tzinov15 opened #97 "Scrollable FlatList within _renderContent"
Has anyone been able to get a FlatList successfully scrolling within a section that gets generated from _renderContent? I can get the list items to render and start to scroll but it refuses to continue to scroll "endlessly/infinitely" if there are more items that can fit on the screen.

[2017-07-11 08:31] cvvspb commented on #77
Hello!

I've experienced the same issue, so I run a couple of tests.
I changed a little the config of the Android emmulator and managed to get the appropriate results.

Animation runs like crap if single core is selected in the emulator settings. In dual core config it runs pretty smooth.

Although in either case Perf Monitor doesn't show any issues.

I do not understand why on earth do I need a d

[2017-07-12 07:14] huyhai commented on #72
thank @Braidio

[2017-07-16 21:22] nonameolsson commented on #83
@tiaaaa123 I need `flex: 1` to work. Have you found a solution for this?

[2017-07-19 03:13] GenericJam commented on #85
I had this same issue. It took me a long time to figure out it was Collapsible that was responsible.

[2017-07-19 08:43] FruitieX commented on #77
Also, try running your app in release mode. On Android the performance difference between debug and release is usually huge.

[2017-07-21 16:49] iRoachie commented on #31
Hey everyone this issue has been inactive for long time and will be closed. If the issue still persist feel free to tag me to reopen.

[2017-07-21 16:49] #31 closed

[2017-07-21 16:50] iRoachie commented on #32
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:50] #32 closed

[2017-07-21 16:50] iRoachie commented on #34
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:50] #34 closed

[2017-07-21 16:51] iRoachie commented on #36
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:51] #36 closed

[2017-07-21 16:51] iRoachie commented on #37
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:51] #37 closed

[2017-07-21 16:52] iRoachie commented on #38
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:52] #38 closed

[2017-07-21 16:54] iRoachie commented on #41
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:54] #41 closed

[2017-07-21 16:55] iRoachie commented on #42
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:55] #42 closed

[2017-07-21 16:55] iRoachie commented on #43
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:55] #43 closed

[2017-07-21 16:55] iRoachie commented on #44
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:55] #44 closed

[2017-07-21 16:55] iRoachie commented on #45
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:55] #45 closed

[2017-07-21 16:56] iRoachie commented on #46
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:56] #46 closed

[2017-07-21 16:56] iRoachie commented on #49
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:56] #49 closed

[2017-07-21 16:56] iRoachie commented on #50
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:56] #50 closed

[2017-07-21 16:57] iRoachie commented on #51
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:57] #51 closed

[2017-07-21 16:58] iRoachie commented on #57
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:58] #57 closed

[2017-07-21 16:59] iRoachie commented on #61
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:59] #61 closed

[2017-07-21 16:59] iRoachie commented on #63
Hey, this issue has been inactive for long time and will be closed. If the issue still persists feel free to tag me to reopen.

[2017-07-21 16:59] #63 closed

[2017-07-21 17:00] iRoachie commented on #65
@alxvallejo Is this issue still happening?

[2017-07-21 17:00] iRoachie commented on #58
@barbarossusuz This problem still occurs?

[2017-07-21 17:04] iRoachie commented on #73
Hey @Kurt57 could you give some more description about what you're trying to do?

[2017-07-21 17:05] iRoachie commented on #74
@kccheung I finished the definitions, they're on DefinitelyTyped. To use them, just run
npm - `npm install -D @types/react-native-collapsible`
yarn - `yarn add --dev @types/react-native-collapsible`

[2017-07-21 17:05] #74 closed

[2017-07-21 17:10] iRoachie commented on #75
@nbastoWM Are you still experiencing this issue? Can you create a simple example on  https://snack.expo.io/

[2017-07-21 17:11] iRoachie commented on #76
@keung725 Your link is broken

[2017-07-21 17:15] iRoachie commented on #78
@ajonno Instead of passing in a `<Text>` component you can pass in a `<Touchable>` to wrap your text and then change the `collapsed` value with the `onPress`

[2017-07-21 17:16] iRoachie commented on #79
Closing since it was fixed in other repo.

[2017-07-21 17:16] #79 closed

[2017-07-21 17:17] iRoachie commented on #82
@mohitgaur2  Did you try nesting multiple `<Collapsible>` instead of using the renderSubmenu?

[2017-07-21 17:19] iRoachie commented on #83
Can you guys create a simple example on https://snack.expo.io/ that replicates the issue?

[2017-07-21 17:20] iRoachie commented on #85
@oblador Can you confirm this behaviour?

[2017-07-21 17:23] iRoachie commented on #91
@njt1982 Is the issue resolved?

[2017-07-21 17:28] iRoachie commented on #93
Can you reproduce a simple example here https://snack.expo.io/ ?

[2017-07-21 17:29] iRoachie commented on #94
Hey @slorber can you make this example on https://snack.expo.io/, so we can see it?

[2017-07-21 17:29] iRoachie commented on #95
Hey @tiaaaa123 can you set up a simple example on https://snack.expo.io/ ? Just so we can see the behaviour and the code that produces it

[2017-07-21 17:30] iRoachie commented on #97
Hey @Tzinov15 can you create a simple example on https://snack.expo.io/. Just so we can see it in action and debug the problem

[2017-07-21 18:14] nonameolsson commented on #83
@iRoachie How can I add this library to a Sketch?

[2017-07-21 18:17] iRoachie commented on #83
Just realize we cant  :D can you make a small simple repo then?

[2017-07-22 04:18] njt1982 commented on #91
It's resolved in that I fixed it by rendering ListItems myself. Although I consider that a workaround.

Options;
1) fix the renderer to support List
2) document clearly that dynamic changing List is not supported and that you should just render the items individually using something like the snippet above.

[2017-07-22 22:11] ghost opened #105 "Invalid redraw after item content updated"
I have items in accordion, consider it a view with text. When text of an item is updated due to some user action, the item incorrectly redraws - it actually becomes a tiny line.

[2017-07-24 06:32] abdulkhaliquem9 opened #106 "Unable to scroll using <ScrollView> inside <Accordion>."
I have a lengthy list of radio buttons with yes/no options. But, the problem here is I am unable to scroll down to the list , so, Is there any way that I can insert ScrollView at the begin and end of the list of radio buttons
ScrollView
  Radio/
  Radio /
.
.
.
.
  Radio /
/ScrollView

[2017-07-24 06:49] abdulkhaliquem9 commented on #106
I wrapped complete radio list rendering component inside ScrollView component of react-native, but it doesn't scrolls.
<ScrollView>
         <RadioGroups fields={data.pastMedicalConditions} callback={this.onFieldChange}></RadioGroups >
</ScrollView>

[2017-07-24 08:05] abdulkhaliquem9 commented on #106
Solved: Able to scroll inside the accordion after making the height of the wrapper <View> smaller the height of ScrollView.

<View style={{flex:1, height:height *0.6  }}>

         <Text>{'HEADING 1'}</Text>
        <ScrollView style={{ height:height *0.7 }}>
        <Accordion
        style={{borderColor:'gray', borderWidth:2}}
          sections={this.SECTION}
          renderHeader={this.render

[2017-07-24 08:06] #106 closed

[2017-07-25 00:08] elie222 commented on #51
I believe I'm still using a different branch of this package to get it
working. Does main npm package now work again?

On 21 Jul 2017 19:57, "Kyle Roach" <notifications@github.com> wrote:

Closed #51 <https://github.com/oblador/react-native-collapsible/issues/51>.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/oblador/react-nati

[2017-07-25 04:59] January23 commented on #94
remove the code:  pointerEvents={collapsed ? 'none' : 'auto'}

[2017-07-25 13:58] michelarteta commented on #57
removeClippedSubviews={false} works very well for me. Thanks!

[2017-07-29 11:36] kiritmodi2702 commented on #92
yes, I have also same problem. its not working TouchableHighlight and TouchableOpacity doesn't working inside the renderHeader and renderContent,

[2017-07-29 12:25] kiritmodi2702 commented on #94
Nop. There is not working if we put TouchableOpacity or TouchableHighlight inside the _renderContent and _renderHeader. I also remove code pointerEvents={collapsed ? 'none' : 'auto'}.

[2017-07-31 02:37] January23 commented on #94
TouchableHighlight  is ok, do you restart the RN server ?

[2017-07-31 03:10] kiritmodi2702 commented on #94
Ok. I will say to replace TouchableOpacity with TouchableHighlight and Restart the RN. I will inform. it's work or not.

[2017-07-31 03:25] kiritmodi2702 commented on #94
No, Its not working. i Will Restart also RN. but TouchableOpacity is also not working inSide the _renderContent.

[2017-07-31 03:32] kiritmodi2702 commented on #94
Can you give me demo in which its working so that I will implements. Please help me. I will use only this collapsible class for expand - collapse.

[2017-08-03 09:18] antoxann96 commented on #95
@tiaaaa123 Have you fixed this issue? I have the same(

[2017-08-03 16:09] preetampatil3d commented on #34
Hi @iRoachie ,
I am facing same issue, i want to load dynamic content on header is pressed. can you please guide me how to do it.

Thanks in advance.

[2017-08-03 16:10] iRoachie commented on #34
@preetampatil3d There's a PR #52 that supposedly fixed it but it needs some revisions. You can try using that fork and see if it works for you

[2017-08-03 19:30] r-i-c-h opened #110 "FlatList in Collapsible fails on Second Open"
Possibly related to issue #97 ?
In the following code, the first time I press on the Collapsible, it works AOK, press again and it collapses back down...
The _Second_ Time, however, weirdness happens and the resulting element is neither scrollable nor the output of the lotsOfData...

[code]

[2017-08-07 08:11] preetampatil3d commented on #34
Hi @iRoachie , Thanks for quick response. but #52 is about dynamic height. i am talking about content.
[https://stackoverflow.com/questions/45541989/best-accordion-for-react-native-for-dynamic-content](https://stackoverflow.com/questions/45541989/best-accordion-for-react-native-for-dynamic-content)

[2017-08-07 08:23] preetampatil3d opened #111 "Load/Update content dynamically on press of header component"
I want to load/update content through API call based on click of header content.
[https://stackoverflow.com/questions/45541989/load-update-content-dynamically-on-press-of-header-component](https://stackoverflow.com/questions/45541989/load-update-content-dynamically-on-press-of-header-component)

[2017-08-07 08:53] jeanverster commented on #58
@iRoachie I can confirm this problem is still happening.

RN: 0.45.1

Here's my code:

[code]

[2017-08-07 17:22] iRoachie commented on #34
If i’m not mistaken that PR is about recalculating the height of the collapsible with when the height of the content changes.

[2017-08-08 14:34] rdoyle975 commented on #92
Same problem here, I need to call a function onPress and I always got the same error _this3._onPressButton is not a function

[2017-08-09 17:58] rdoyle975 commented on #58
@jeanverster I don't know if it's the right way to fix this but I fixed the problem by inserting my function inside _renderContent (or _renderHeader). So it would look like this:

[code]

[2017-08-10 13:22] slorber opened #112 "Use useNativeDriver?"
Hi,

I am wondering if this library works fine with "useNativeDriver" or not?

If it "can" work, it would probably be helpful to allow using nativeDrive with a prop attribute in this line:

https://github.com/oblador/react-native-collapsible/blob/master/Collapsible.js#L131

I can submit a PR if this is approved

[2017-08-11 01:43] iRoachie commented on #112
I don't see why it can't, @slorber make the PR, and let's test it

[2017-08-11 10:41] slorber commented on #112
Hmmm according to the doc the native drive does not work to animate height properties:

http://facebook.github.io/react-native/blog/2017/02/14/using-native-driver-for-animated.html

For that it seems we have to use experimental `LayoutAnimation`. I don't really know how to use this yet but it's probably a good idea as collapsible animation is not very fast on slow android devices and does not work

[2017-08-13 15:00] Louis-T commented on #95
Hi !
I have almost the same issue.
I'm trying to set up the accordion with stateful TextInput inside, and the accordion's content is disappearing when I try to modify the TextInput value.

I have set up a small repo for you to test : https://github.com/Louis-T/collapsible-bug

This is just a small repo that I created using `react-native init`. And then I just added the App/index.js file.

[2017-08-14 22:39] ralcon opened #113 "Misbehaviour while showing dynamic content in the collapsible"
Hi,

i'm searching for a way, to do collapsibles the right thing!

Heres my example:
[Dynamic content in collapsible](https://github.com/ralcon/dynamic-content-in-collapsible)

Heres my problem:
I would like to display some dynamic content in the collapsible. In this example, there will be some times displayed. Don't worry about the same times. I only would like to show some dynamic content.
First

[2017-08-15 00:17] iRoachie commented on #113
Hey @ralcon could you be a bit clearer? I'm not sure what you're asking exactly

[2017-08-15 00:23] iRoachie commented on #112
@slorber I'm not sure how we would opt in to use an experimental version of `LayoutAnimation`. I'm closing this issue since it's not something we can implement currently.

[2017-08-15 00:23] #112 closed

[2017-08-15 07:02] January23 commented on #94
Do you bind the function approvalAction ？ Use the arrow function, try again?

[2017-08-15 13:15] CandyOgre commented on #105
@reachbeach issued the same problem...

[2017-08-15 13:18] CandyOgre commented on #105
@oblador can you help us with this?

[2017-08-15 18:56] oblador commented on #105
Hey guys, do you have any example code to reproduce this bug?

[2017-08-15 23:32] ralcon commented on #113
Hi, i got the following problem:
My aim is to display several country times, updated by redux (every second via timeout), see my example. When i open the collapsible the first time, everything works fine and is displayed how it should be. but when i activate the timeout  to render the information, the collapsible callapses itself. the variable to identify, if the collapsible is collapsed, is false

[2017-08-16 06:56] CandyOgre commented on #105
@oblador shure.

[code]

CharacterItem:
[code]

When data, that comes from state gets into CnaracterItem, all data from component dissapear

[Before interacting](http://i.imgur.com/TxaR4i9.jpg)
[After touching button in CharacterItem](http://i.imgur.com/li7ASUj.jpg)
[After reopening Accordion all shown correct](http://i.imgur.com/69qhp2w.jpg)

I have looked in code using React Native Debugger, and

[2017-08-19 04:31] iRoachie commented on #111
@preetampatil3d Link seems to be broken

[2017-08-19 14:51] CandyOgre commented on #105
@oblador can you help with that?

[2017-08-20 08:54] ralcon commented on #113
The target state should be:
- Open callaspsibles
- Press "Start" button
- New times are rendered every second

=> Collapsibles should stay 'open' (collapse={false})!

_within the given example:_
_1. git clone https://github.com/ralcon/dynamic-content-in-collapsible_
_2. cd dynamic-content-in-collapsible_
_3. npm install_
_4. react-native run-ios_

[2017-08-22 06:31] rohananarse opened #114 "Can we add List Menu (Say different categories) instead of content ..?"
Want to create a shop in which there will be the header of category say
Tshirts (When i click on it the content should come in list)
1.Mens
2.women
etc etc.

IS it possible to attain list view inside accordion content..?

[2017-08-27 17:31] thiennhank9 opened #115 "How to make default that always show content of the first (top) Accordion section!"
I don't know how to do above question. please tell me

[2017-08-28 06:12] me-shaon commented on #115
Add `initiallyActiveSection` properties to **0**. It will by default shows the first accordions content. It is clearly described in [the documentation](https://github.com/oblador/react-native-collapsible#properties-1).

[2017-08-29 06:19] blakew commented on #105
I have the same problem with **Collapsible**, but I figured out a workaround (@oblador):

[code]

When I update the children passed in and keep `collapsed=false`, the component transitions to a wrong/stale content height (not sure which or why), thus rendering the thin line. If I tell it to remeasure on every componentWillReceiveProps, the issue goes away.

[2017-08-29 06:45] blakew commented on #105
I have the same problem with **Collapsible**, but I figured out a workaround (below).

Seems like timing of measurement is not synched with re-renders of the children, when non-collapsed state isn't changing. So the component transitions to a wrong/stale content height (not sure which or why), thus rendering the thin line. If I tell it to remeasure on every componentWillReceiveProps for this use c

[2017-08-29 08:52] nevin22 opened #116 "Keep collapsible open when clicking on other collapsible"
is this possible ?

[2017-08-30 20:32] nicsud1 commented on #116
I'm trying to do something similar as well, but with two nested Accordions. Whenever I tap an element of the inner accordion, it causes whatever the active header in the outer accordion is to collpase, while simultaneously expanding the inner accordion resulting in some strange displays

[2017-08-31 14:35] Ralica commented on #72
Not Sure if it would help anyone for the Accordion but I had the same problem with the Collapsible.
In my case I made myself a custom component which contained the Collapsible and its collapsed prop was managed by a property 'isCollapsed' declared in the custom component.
Any time an interactive child component was touched the Collapsible would collapse.
**Solution:**
I realized that the collapsed

[2017-09-06 07:29] cipherm opened #117 "How can I get the `this` reference inside renderContent?"
I am using Accordion inside each header there is different dynamic content. e.g first accordion will contain a list of skills(From API) and in the second accordion, I want some other data in list view. I can not statically define the content in the **SECTION**. I can do this inside renderContent but I am not able to get the reference of **this.props or this.state.**

[2017-09-07 20:48] sfratini commented on #117
Just convert it to an arrow function and you will automatically bind this:

[code]

[2017-09-08 12:07] #117 closed

[2017-09-18 06:27] preetampatil3d opened #118 "How to disable warning for enableEmptySections"
I am getting warning while loading Accordion.

![image](https://user-images.githubusercontent.com/21255598/30530815-8a6a61f8-9c67-11e7-8a36-b8014b695400.png)

Using following lib versions:

 react-native-collapsible:^0.9.0
 navbar-native: ^1.6.1
 react: 16.0.0-alpha.12
 expo: ^19.0.0

I am unable to disable it, If anyone know the solution please help.

Thanks in advance.

[2017-09-18 10:33] ashusdn commented on #58
HelloTeam,

I am facing the same issue when I try to onPress method inside _renderHeader it will show function not defined.

    _renderHeader(section, i, isActive) {
        return (
             <View style={styles.headerRowStyle}>
                    <Image style={styles.carretImageStyle} source={isActive ? caretDown : caret} />
                    <Text style={styles.headerText}>{section.title

[2017-09-18 10:48] ashusdn commented on #92
Same Problem here, when trying to use on press method inside renderHeader, can anyone have implemented same.
 _renderHeader(section, i, isActive) {
        return (
 <View style={styles.headerRowStyle}>
                    <Image style={styles.carretImageStyle} source={isActive ? caretDown : caret} />
                    <Text style={styles.headerText}>{section.title}</Text>
                    <T

[2017-09-21 06:47] Sonukr commented on #58
I am Facing the same issue, I tried with both method i.e. putting that function inside render method and outside of render method but it is showing the same error.  any solution for this?

[2017-09-21 11:12] kiritnim opened #119 "I can't reload the accordion. How can reload it."

[2017-09-25 16:39] jstheoriginal commented on #95
+1 on removing `flex: 1` from the child view inside Collapsible.View.

This one threw me for a loop for hours.

[2017-10-01 17:45] mtzluisalfredo commented on #76
How can I make a react native expanding cells scrollview in IOS which like the below example?
https://www.raywenderlich.com/99087/swift-expanding-cells-ios-collection-views

¿Alguien podría ayudarme? Gracias.

[2017-10-01 17:50] mtzluisalfredo opened #120 "How can I make a react native expanding cells scrollview in IOS which like the below example?"
How can I make a react native expanding cells scrollview in IOS which like the below example?

https://www.raywenderlich.com/99087/swift-expanding-cells-ios-collection-views

Would anyone can help me? Thanks.

[2017-10-12 11:07] silvainSayduck commented on #105
The height was not getting re-measured on children update for me either, so I added the follozing code:

[code]

Probably also qualifies as a dirty hack, but it did the job for me I think.

[2017-10-12 22:38] csumrell commented on #91
I also had issues with using a Flatlist inside the Collapsible component. When opening it, the Collapsible would basically double the height of the Flatlist, leaving a ton of blank space below it.

After switching the Flatlist out for a item.map function, the height works correctly now. Definitely not a fix, but a workaround.

[2017-10-13 13:16] hmenzagh commented on #105
@blakew Do a PR ! Works perfectly for my needs !

[2017-10-15 05:19] vijay-dadhich09 opened #121 "How to know accordion dataProvider got changed?"
Hi, I have multiple tabs and on each tab changing accordion dataProvider. But problem is here, how to close last accordion child when change tabs? In new tab the last child index  remain open in the new tab.

[2017-10-15 05:23] iRoachie commented on #121
Something like a close all method?

[2017-10-15 05:28] iRoachie commented on #93
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:28] #93 closed

[2017-10-15 05:33] iRoachie commented on #73
Closing this as invalid as no more information has been provided.

[2017-10-15 05:33] #73 closed

[2017-10-15 05:37] iRoachie commented on #77
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:37] #77 closed

[2017-10-15 05:38] iRoachie commented on #75
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:38] #75 closed

[2017-10-15 05:40] iRoachie commented on #72
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:40] #72 closed

[2017-10-15 05:43] iRoachie commented on #83
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:43] #83 closed

[2017-10-15 05:43] iRoachie commented on #66
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:43] #66 closed

[2017-10-15 05:44] iRoachie commented on #65
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:44] #65 closed

[2017-10-15 05:45] iRoachie commented on #70
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 05:45] #70 closed

[2017-10-15 06:43] iRoachie commented on #78
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 06:43] #78 closed

[2017-10-15 07:13] iRoachie commented on #82
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 07:13] #82 closed

[2017-10-15 07:26] iRoachie commented on #111
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-15 07:26] #111 closed

[2017-10-15 07:31] hoboman313 commented on #97
Can confirm. Am running into the same issue trying to scroll a flatlist from within renderContent.

[2017-10-15 13:06] vijay-dadhich09 commented on #121
yes, I want to close last opened child when change tabs.

[2017-10-15 14:12] vijay-dadhich09 commented on #121
I could solved the problem using componentWillReceiveProps lifecycle method. The componentWillReceiveProps method being calls when dataProvider gets change and that time componentWillReceiveProps provides nextProps where I have changed the activeSection state.

componentWillReceiveProps(nextProps) {
    // reset activeSection state when change dataProvider
    if (nextProps.activeSection !== this.

[2017-10-15 14:12] #121 closed

[2017-10-15 14:38] MaxToyberman opened #122 "Not working on react-native 0.49.0"
![screen shot 2017-10-15 at 5 38 18 pm](https://user-images.githubusercontent.com/11058371/31585742-aeca117e-b1cf-11e7-94f6-90031e1e58ad.png)

[2017-10-16 06:30] amos80m commented on #122
I had this problem while using `touchableProps={this}`
Removed it and instead, I added the functions i needed into the constructor and Bind them to `this`

[2017-10-16 06:57] jas823 commented on #58
I encountered this problem also. I tried the solution given by @rdoyle975, it still didn't work, but it was close, the idea of "inserting the function inside.." was the clue. So thanks :) I figured that the problem was due to the Component's instance aren't passed to the function inside the Accordion and thus showing the undefined error. The key of the solution is to place _renderContent function

[2017-10-23 22:29] travisday commented on #85
Any new info on this looking to do a similar thing where I can infinitely add collapsible lists @iRoachie @oblador also not seeing much activity on this repo should I consider just writing my own  collapsing feature?

[2017-10-24 00:36] iRoachie commented on #85
@travisday Here's an example using nested collapsibles that work just fine. https://snack.expo.io/BkpT9Zhpb.

[2017-10-24 00:50] iRoachie commented on #122
Hey @MaxToyberman could you create a snack over at http://snack.expo.io? I'm having no problems on 0.48

[2017-10-24 00:51] iRoachie commented on #119
Could you be a bit clearer by what you mean reload?

[2017-10-24 00:52] iRoachie commented on #118
Hey @preetampatil3d can you create a small example over at https://snack.expo.io so I can see what code produces the message?

[2017-10-24 00:55] iRoachie commented on #115
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-24 00:55] #115 closed

[2017-10-24 00:56] iRoachie commented on #114
@rohananarse Sorry for the late reply. The Collapsible can have any content inside so a list is definitely possible.

[2017-10-24 00:58] iRoachie commented on #120
@mtzluisalfredo It looks like a cool animation but I'm not sure how you would accomplish that with this library. In the example you listed the animation is one on scroll.

[2017-10-24 00:58] #120 closed

[2017-10-24 01:11] iRoachie commented on #110
Hey @r-i-c-h apologize for the late reply. I made an example project here you can see https://snack.expo.io/rJg_GM2pb where I replicated the simplest part of your code. The problem I'm assuming is because of the asynchronous way in which Flatlist handles elements.

On first opening, the Flatlist has not yet loaded all the items in the list, since with Flatlist the elements are not all rendered ins

[2017-10-24 01:26] iRoachie commented on #97
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-24 01:26] #97 closed

[2017-10-24 01:27] iRoachie commented on #95
Closing this by the solution of removing `flex: 1`. If this didn't work and the issue persists then ping me to reopen or create a new issue.

[2017-10-24 01:27] #95 closed

[2017-10-24 01:30] iRoachie commented on #94
Hey guys, closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-collapsible then ping me to reopen or create a new issue.

[2017-10-24 01:30] #94 closed

[2017-10-24 01:35] iRoachie commented on #92
Hey sorry for late reply. Can any of you make an example over here https://snack.expo.io. Just so I can see what code produces the error.

[2017-10-24 04:16] kiritnim commented on #119
Yes. I want to reload only single cell in it. I have button each of cell and reload particular cell tap on button.

[2017-10-24 07:12] MaxToyberman commented on #122
@iRoachie  i had some other problem in my code, everything is working fine now, closing, thank you

[2017-10-24 07:12] #122 closed

[2017-10-24 09:43] iRoachie commented on #119
Still not understanding what you mean by reload

[2017-10-26 16:51] RobertBroersma opened #123 "Collapsible slow and no animation on Android"
I've copied the example in the Example folder.

When opening it on my Android emulator _or_ on my physical Android device, it is 9 of ten times very slow. The 1 out of 10 times it isn't slow, it becomes slow after the first hot-reload.

When pressing a button it takes about 0.5 - 1 seconds before the collapsible responds and opens/closes. I thought it could be because of too little memory on my em

[2017-10-26 19:20] mtebele commented on #123
Same here, it's extremely slow on Android.

[2017-10-26 19:41] iRoachie commented on #123
Are you testing performance in release mode?

[2017-10-27 12:09] RobertBroersma commented on #123
@iRoachie I've tested in development and in release mode, same results

[2017-10-27 12:23] dongawli commented on #113
@iRoachie : I am too facing the issue while showing dynamic controls in collapsible. Please see the video - https://hub.mangoapps.com/sf/MTAyNzA3XzEzODIxNzA

[2017-10-28 14:09] RobertBroersma commented on #123
Today it takes about 10-20 seconds for an item to collapse. Seems kind of random.

[2017-10-30 21:25] swapkids commented on #58
You need to bind `this` to the function by eg. use ES6 lambda functions

`_renderContent = (section) => { ... } `

instead of

`_renderContent(section) { ... }`

that should do the trick

[2017-10-31 14:09] sforood commented on #123
I had the same problem until I removed my console.log statements.

[2017-10-31 20:44] travisday commented on #85
@iRoachie Thanks! Works great

[2017-10-31 21:40] #85 closed

[2017-11-01 14:39] avorochenko opened #124 "Can I open more then one sections"
I dont now how I can open more then one sections. Could you help me?

[2017-11-01 14:48] kosiakMD opened #125 "Collapsible: When expand it start since 0 even if collapsedHeight > 0"
Have an issue with Collapsible Component:
My `collapsedHeight = { 25 }`
Collapsing is all right - since 'auto' till 25

## Actual Result

When change `collapsed` from `false` to `true` Animation started rising since 0

## Expected Result

Animated rising since 25 to max, but doesn't.

[2017-11-01 15:48] iRoachie commented on #124
@avorochenko You can use the Collapsible component instead of the Accordion. The Accordion only allows one open section

[2017-11-02 13:13] #124 closed

[2017-11-03 15:43] josvos commented on #123
Using Accordion, I have no problems on Android, both on emulator and on device (even with dev mode enabled): items collapse smoothly.  Using react-native 0.49.3 (natively, no Expo etc.), if that matters.

[2017-11-07 22:03] peacechen opened #126 "Pass 'Sections' to the renderHeader() and renderContent() callbacks"
It would be convenient to pass the original `sections` array through to the renderHeader() and renderContent() callbacks.  In my use case, multiple sections are generated dynamically, each passed to Accordion instances.  The contents need to reference the complete `sections` array; recreating that within `renderContent` is painful.

I'll create a PR for this.

[2017-11-07 22:05] peacechen commented on #126
Created PR #127

[2017-11-09 08:44] karenYerevan commented on #86
Put your content in ScrollView
Like this

[code]

[2017-11-09 09:47] jariwalabhavesh commented on #86
@karenYerevan:
Thanks for response but i had already accordion inside scrollview.
Have you able to understand my issue from gif that i have provided?

[2017-11-10 14:57] mtebele commented on #123
It works good on release, but not in debug mode.

[2017-11-11 00:41] kinjitakabe opened #128 "Component in Collapsible is not rendered"
Hi Everyone. I don't know why the my component in collapsible is not rendered.
Here's my source code:
`            <View style={style.oneRow, {backgroundColor: 'rgb(245,245,245)'}}>
              <StarRating score={this.props.review.view} dontShowScore={true} textValue="View" />
              <StarRating score={this.props.review.location} dontShowScore={true} textValue="Location" />

[2017-11-11 03:25] kiritnim opened #129 "How to AutoScroll when user tap on last element ?"
Hi.

I Take the Accordion inside the scrollView. I have problem of scrolling. When user tap on the last element then the the expanded view does't scrolling to top. and the view doesn't display. every time I have do manually scrolling to see the expanded view. Can you please share the solution.

Code

<ScrollView>
                 <Accordion
                     sections={SECTIONS}

[2017-11-13 12:49] jzhw0130 commented on #86
Same problem, wait to response, thanks

[2017-11-13 12:57] jzhw0130 commented on #86
@jariwalabhavesh  Hi . Do you find a solution now?

[2017-11-13 16:07] jzhw0130 commented on #86
@jariwalabhavesh

I got a solution, and make a pull request above.
You can try.

[2017-11-14 00:19] iRoachie commented on #86
As far as I know the library doesn't have this functionality built in. I'm just a maintainer on the project not the owner. But it does sound like a nice feature to have. Any ideas?

[2017-11-14 01:57] jzhw0130 commented on #86
@iRoachie

Hi, could you try my solution as follows:

https://github.com/jzhw0130/react-native-collapsible/commit/d5e93c46c126e149d978660043a5c3a811634223

[2017-11-14 07:31] jariwalabhavesh commented on #86
@jzhw0130
No not able to find exact solution. but i did bit of hack.

**How i hacked**
At a time any one of the section of accordion can be expanded and other will collapsed automatically, so i had store each section screen position at render time(at this time all section will be collapsed). so when i click on particular section then i scroll up to stored location for that section.

**About your s

[2017-11-14 09:32] jzhw0130 commented on #86
@jariwalabhavesh

Same effect?  https://drive.google.com/open?id=1Atyn5YRpSHW63sEYxLvgXK9GtvhtXOhx

[2017-11-14 12:06] jzhw0130 commented on #86
@jariwalabhavesh
![untitled](https://user-images.githubusercontent.com/12521790/32779065-51a860e4-c977-11e7-9bbd-c2df15aefdf3.gif)

[2017-11-14 12:42] jzhw0130 commented on #86
@jariwalabhavesh

![screenshot](https://user-images.githubusercontent.com/12521790/32780477-4f8dc9a2-c97c-11e7-9db2-b1d44f6fbc8b.gif)

[2017-11-14 14:03] jariwalabhavesh commented on #86
@jzhw0130
Thanks, will try

[2017-11-14 20:42] poicooler commented on #113
Having the same issue. When i update a collapsible that is open, it renders nothing even if the collapsed props is at false.

[2017-11-15 09:50] kiritnim commented on #119
I have problem : https://github.com/oblador/react-native-collapsible/issues/129

[2017-11-15 11:16] iRoachie commented on #119
d. #86

[2017-11-15 11:16] #119 closed

[2017-11-16 09:49] olbor commented on #116
Is it possible to keep opened several collapsibles in one accordion?

[2017-11-17 10:41] iRoachie commented on #116
@olbor If you want to keep several of them open then use multiple collapsibles are manage the state yourself. The accordion is designed to only have one section open at a time

[2017-11-19 19:11] mikpalm commented on #94
For us it worked with removing` pointerEvents={collapsed ? 'none' : 'auto'} ` from **Collapsible.js** line 184. Since our is part of a menu that is not displayed when collapsed.

[2017-11-24 08:54] yernandus opened #132 "The first touch does nothing, and only second one opens it."

[2017-11-24 08:59] #132 closed

[2017-11-30 09:55] hiepnm commented on #123
I have the same problem in debug mode (I have already started remote js debugging)

[2017-12-04 04:55] wxsms commented on #105
@blakew saved my day. thank you very much.

[2017-12-05 21:40] johnlaine1 commented on #123
Same problem here. Takes about 5 seconds to load the initial scene and then opening and closing of the sections is slow and janky.

[2017-12-08 19:19] ishaqashraf opened #133 "Touchable Components in header prevent Accordion from opening/closing"
i am using accordion component in my app

i am using '+' icon in header of accordion opposite side to heading of headertext ...
i want when the user tap on accordion then the '+' will convert to '-'.
unable to find any method ..
PS: lets suppose i have 4 accordion list when the click on first list then the icon sign will only change for first list ,rest of the same sign ..

**here is my code;**

[

[2017-12-09 12:09] prashantvv commented on #133
I also tried to change the icons but I think it will need a quite lot of time as the header layout is already rendered first. You can find the opened header index from onchange() but you have to set the layout inside renderHeader function again & again to show the changed icons. Try out:

https://moduscreate.com/blog/expanding-and-collapsing-elements-using-animations-in-react-native/

where you ca

[2017-12-13 09:55] john1jan commented on #123
it slow for me as well

[2017-12-13 10:17] iRoachie commented on #123
Will look into this today

[2017-12-14 23:54] jfilter commented on #53
My approach:

Use the `onLayout` event to get the heights of the items (and other Views), save them to state and calculate scroll offset based on them.

https://facebook.github.io/react-native/docs/view.html#onlayout

[2017-12-19 13:54] mikpalm commented on #123
Any progress?

[2017-12-20 07:09] jiyarong opened #134 "Can't be used with any animated components"
like react-native-zoom-image

I put my component in Collapsible, and it will been disappears when my animated components is trigger

[2017-12-27 01:23] seriph commented on #123
Same issue here. Pixel XL

[2017-12-27 02:18] iRoachie commented on #123
So guys I've been doing some testing and unable to reproduce any sluggish behavior. Not ruling out the fact that you may have it, but you may want to check if your render is handling any intensive operations that may block the js thread.

Example on API 19(Lollipop)
![collapsible-api19](https://user-images.githubusercontent.com/5962998/34368462-96e7a64a-ea8a-11e7-9dd3-4df685e59d34.gif)

Example on

[2017-12-27 07:35] mikpalm commented on #123
In my case. our headers have two ways to display and alter on open/close, our content have images in them round thumb images divided on left and right side. and the issue is more when you open and close the same one quickly, first its lagging alot and on random occasions, the content part gets clipped/cut and is semi displayed in the header. for me the issue is more prominent on slower systems. fo

[2017-12-29 18:25] shafips opened #135 "How to disable accordion?"
I am using accordion, i just want to disable accordion programatically.

[2018-01-01 18:11] iRoachie commented on #135
Added in https://github.com/oblador/react-native-collapsible/pull/136/commits/323c810c999c5d41c72eb6a92745e6c5d649504e. Will be available in next release

[2018-01-01 18:16] iRoachie commented on #134
Could you create a small example on https://snack.expo.io that replicates this behaviour?

[2018-01-01 18:30] iRoachie commented on #114
Closing as inactive

[2018-01-01 18:30] #114 closed

[2018-01-01 18:41] iRoachie commented on #110
Closed as inactive

[2018-01-01 18:41] #110 closed

[2018-01-01 18:42] #116 closed

[2018-01-01 19:00] iRoachie commented on #89
Hey @brlrb this behavior is already accomplished using the `initiallyActiveSection` prop.

Here's an example snack showing this. https://snack.expo.io/HJVVrWOQf

[2018-01-01 19:05] iRoachie commented on #128
Hey  @kinjitakabe can you make a simple example on https://snack.expo.io that shows this problem? Be sure to paste the link here when you're finished.

[2018-01-01 19:08] iRoachie commented on #118
Closing this as inactive

[2018-01-01 19:08] #118 closed

[2018-01-01 19:09] iRoachie commented on #92
Closing as inactive. Please ping me to reopen or create a new issue if this still occurs in the latest version

[2018-01-01 19:09] #92 closed

[2018-01-01 19:15] iRoachie commented on #58
Closing this as solved, as it really isn't with the library. Be sure to use an arrow function on the `renderContent` and `renderHeader` methods to preserve access to the class scope

[2018-01-01 19:15] #58 closed

[2018-01-03 20:05] sfratini opened #137 "Accordion does not fully close"
Hi! I am testing the Accordion with a series of Text, Buttons and Images in different configurations. For some reason, when I click on a button inside the accordion, it automatically tries to close the section but it does not fully does so, before actually following the action I have in a button.

I have tried putting a delay before the button does the action, in case the animation was cut short b

[2018-01-03 20:29] sfratini commented on #137
Alright, I have narrowed down to this function in Collapsible, which is triggering and setting the height of the content to 20dp. The only component I have that has that height is some margins.

[code]

[2018-01-03 20:49] sfratini commented on #137
Alright, making sure my content view (the wrapper for all the renderItem does not have any margin or padding (AKA< mocing the margin and padding to the children) made it collapse all the way.

The issue right now is that it is collapsing visually but it is not setting the accordion section as collapsed so I have to double click in order to open that section again.

Any workaround?

[2018-01-03 20:52] sfratini commented on #113
Maybe related to this I am facing: https://github.com/oblador/react-native-collapsible/issues/137

[2018-01-03 20:54] sfratini commented on #134
Maybe related to this: https://github.com/oblador/react-native-collapsible/issues/137

[2018-01-03 21:30] sfratini commented on #137
Solved!

The issue was that my content view, or wrapper for the renderContent had a flex style. I am not 100% sure why, but checking on the onLayout method of that content, it was saying that it had 0 height when I made an action or click inide that content.

Replacing the flex: 1 for height: '100%' did the trick.

Final style:

[code]

Weird issue. I am not closing this one yet since I think ther

[2018-01-04 01:11] iRoachie commented on #126
Added in https://github.com/oblador/react-native-collapsible/commit/ecdb10277359e964a693d4228fff59174baa962b. Should be available in next release

[2018-01-04 01:12] iRoachie commented on #137
Glad to see that you resolved it @sfratini. I'll keep it open for a bit so others could see

[2018-01-04 02:17] jiyarong commented on #134
I fixed it with this code
at Collapsible.js line 157
[code]
 then the problem has been solved

[2018-01-04 15:53] Dror-Bar commented on #133
I'm experiencing the same issue.
I was thinking about having a touchable component in the renderHeader function, with onPress changing the icon. But if I do that the accordion opening isn't triggering.

@prashantvv
could you perhaps explain with more details how to accomplish this?
It's funny that you show this specific link, I was actually using it prior, but you can't accomplish accordion effect

[2018-01-04 16:02] iRoachie commented on #133
Okay I can confirm this behavior, it's definitely a bug

[2018-01-05 13:06] iRoachie commented on #105
Thanks guys! Merged in https://github.com/oblador/react-native-collapsible/commit/d21772467f3960c8b1c8dafa69c0df1800b493df. Will be available in next release

[2018-01-05 13:09] iRoachie commented on #134
I'd still really like to see how you are using this in your use case. Can you also create a PR so I can test the changes?

[2018-01-05 13:09] #89 closed

[2018-01-05 13:10] NorbertoC commented on #134
I had a problem that the collapsible was being closed and showing no content, and when I tap again the content was shown. I don't know why, but this fix my problem too.

Thanks!

[2018-01-06 09:09] pokkie commented on #137
Maybe add it to the Wiki for future reference rather than keeping the issue open for a bit?

Will also help out people in future once the issue has been closed.

[2018-01-07 09:32] Dror-Bar opened #139 "How to close accordion?"
Hey,
I want to close the accordion (all sections) when the user presses on the **content** of one of the sections. How to do this? I think maybe I need to set activeSection to false but I have no idea how to achieve this.

Thanks.

[2018-01-07 15:00] iRoachie commented on #139
You can use the `activeSections` prop to manage which sections are open. Here's an example snack I made to show this in action. https://snack.expo.io/rksAS21VG

[2018-01-07 15:13] Dror-Bar commented on #139
Thanks.
I was thinking about using state, but wasn't aware of:

onChange={activeSection => this.setState({ activeSection })}
activeSection={this.state.activeSection}

Your example solved my issue.

[2018-01-07 15:40] iRoachie commented on #139
Great to have helped!

[2018-01-07 15:40] #139 closed

[2018-01-07 15:49] iRoachie commented on #137
@pokkie Would you mind adding a page to the Wiki?

[2018-01-07 15:49] #137 closed

[2018-01-07 19:24] pokkie commented on #137
@iRoachie added a page. bit lazy at the moment, but at least there is something there :)

[2018-01-07 20:39] iRoachie commented on #137
Looks good for now 🙂

[2018-01-08 03:52] #105 closed

[2018-01-08 03:52] #135 closed

[2018-01-08 03:59] iRoachie commented on #126
Released in [0.10.0](https://github.com/oblador/react-native-collapsible/releases/tag/0.10.0). Just for owner to push to npm! Thanks again

[2018-01-08 03:59] #126 closed

[2018-01-08 09:26] njt1982 commented on #91
@iRoachie Heya - not sure this should be closed IMHO. There is a work around, but it's not fixed.

Has either option 1 or 2 from my comment in July been addressed (ie either fixed or documented?) - or is there a third way? ;)

[2018-01-08 11:45] iRoachie commented on #91
This is already fixed in [0.10.0](https://github.com/oblador/react-native-collapsible/releases/tag/0.10.0) with [this commit](https://github.com/oblador/react-native-collapsible/commit/d21772467f3960c8b1c8dafa69c0df1800b493df). The version isn't on npm as yet as the author has to publish. However you can use it directly from the GitHub repo.

In your package.json:
` "react-native-collapsible": "ht

[2018-01-08 11:47] iRoachie commented on #91
Also the above example I posted is using FlatList

[2018-01-08 11:49] iRoachie commented on #135
Released in [v0.10.0](https://github.com/oblador/react-native-collapsible/releases/tag/0.10.0). Just waiting for author to publish to version npm.

You can use directly from GitHub in the meanwhile:

In your package.json:
` "react-native-collapsible": "https://github.com/oblador/react-native-collapsible.git"`

[2018-01-10 14:46] zhangjinbo619 commented on #123
I have the same problem in debug && release in android.

and then I found `console.log(this)` in my code.

So I don't get these problems back after I delete these debug information。

I hope to help you。

[2018-01-18 14:11] Dror-Bar commented on #133
This is unrelated to the bug, but a solution to how to change icons based on whether section is collapsed or expanded. It's actually very easy to do with the built in method _renderHeader, just use the **isActive** variable:
[code]

[2018-01-18 15:39] fcabrera23 opened #141 "TouchableHighlight not working inside Header or Content"
Hi, im having some problems with touchables inside header or content.  My render content is the following,

 _renderContent(section) {
      return (
        <View>
        {section.items != null &&
           <View>
            {section.items.map(r =>
                <TouchableHighlight
                underlayColor='rgba(192,192,192,0.6)'
                onPress={this.onPress} >

[2018-01-18 15:46] #141 closed

[2018-01-18 16:33] martinlavanant opened #142 "SwipeableRow in renderHeader"
Hello,

First of all, thanks for the awesome lib!
I ran into a problem using a Swipeable component in the renderHeader method of the Accordion.
I believe the swipe event is taking over the press event and the Accordion is not collapsing.

Sorry to ask this but is there anyway I could get it to work with both events?
Here's a snippet of my code (Hope it's enough)  :
[code]

Thanks in advance

[2018-01-18 18:30] ishaqashraf commented on #133
hey @Dror-Bar  you make my day ,,
thank u so much (y)

[2018-01-18 18:30] #133 closed

[2018-01-18 22:17] ishaqashraf opened #143 "Search implementation problem"
i am using this library. but i don't know how to implement search functionality in this lib.
i am facing some bugs in my code to implement search functionality.
there is a text input above my list . when i enter something in my textinput the search is working fine according to my requirement but when i clear input text from inputbox then my list not showing .i know this is the state problem but i

[2018-01-19 15:46] smkamranqadri commented on #143
keep the filter data in the separate state instead of changing the main state if you can check if the text is empty then put all data in filter data.

[2018-01-23 13:11] atul-forbinary opened #144 "Can we implement a gridview or a listview inside content ?"
I am trying to add Flatlist inside header content but getting issues

[2018-01-23 13:14] iRoachie commented on #144
Could you explain your use case? Is there any reason you want to add a FlatList in the header?

[2018-01-29 16:53] mfrknv commented on #144
` _renderContent(section) {
    return (
     <View style={styles.content}>
              <FlatList
                data={sections}
                renderItem={({ item }) => <Text>{item.content}</Text>}
               />
            </View>
    );
  }`

Is there an example like this?

[2018-01-30 07:21] mfrknv commented on #144
I made an example that works for the flat list

[code]

[code]

[code]

[2018-01-31 14:32] alexstoyanov opened #145 "(Accordion) Render content on header click"
My use case is that I have to render a lot of data from the server. That said - is there an option to load the data on demand - i.e. to render the headers in the Accordion and when the user clicks on one header to load data from server for that specific header. Something like onHeaderClicked method:

                       <Accordion
                            sections={sections}

[2018-02-02 12:56] iRoachie commented on #145
Will look into this on the weekend

[2018-02-07 11:04] nichesoftgh04 opened #146 "Rerenders as many times as there are accordion cards."
When click on one card to expand it the whole list is rerendered as many times as there are accordion cards. Suppose i have 25 cards and i open one of them it will render 25 times on each click and it becomes very slow with very small amount of data(like 50 cards). It should render only one list which is requested by user click.

[2018-02-07 18:06] eduardomoroni commented on #113
This solves this issue:
https://github.com/oblador/react-native-collapsible/pull/147

[2018-02-07 18:07] eduardomoroni commented on #91
This might solve your issue: could you have a try?
https://github.com/oblador/react-native-collapsible/pull/147

[2018-02-08 10:00] nichesoftgh04 commented on #72
Inactivity doesn't mean it got solved :)

[2018-02-08 14:23] pkantsedalov opened #148 "Disable section from being expanded"
@oblador
Hi guys.
Thank you for your work.

I have such flow where I need to open the topmost section first, then do some actions there and only after that I have to open the next one (there could be 3 sections).

Just want to ask is it possible somehow to make any of sections disabled?

[2018-02-08 14:25] iRoachie commented on #148
Hey man! Can't answer you write now cause I'm at work. Will try to go through the issues and PRs this evening into tonight. Thanks for understanding

[2018-02-08 14:28] pkantsedalov commented on #148
@iRoachie Thank you a lot .
Of course take your time!

Here is an example I'm talking about: https://www.npmjs.com/package/react-native-bar-collapsible

[2018-02-09 00:27] nbolender opened #149 "Scroll position lost on open when collapsedHeight > 0"
When using Collapsible with collapsedHeight > 0, opening the collapsed view can cause the scroll position in the parent ScrollView to scroll up by exactly the amount of collapsedHeight.

Workaround:

Reset the scroll position after setting collapsed to false:

[code]

[2018-02-09 13:49] alexstoyanov commented on #145
@iRoachie Did you have some time to look into this?
It would be really helpful because if each section contains a lot of content and the user will not always open each section to see its content - it is unnecessary to retrieve the whole data from a server when rendering the screen.

[2018-02-12 11:01] iRoachie commented on #145
Not as yet i’m afraid. Been pretty bogged down at work. Will try to block off Tuesday evening to look through the issues

[2018-02-12 12:17] vijay-dadhich09 opened #150 "How to get expended height of the accordion"
Hi
How can i get expended height of the accordion when tap on the header. I am trying to get using onChange but it only return index.

[2018-02-13 03:54] koswarabilly commented on #86
i just donot get it , what can touchablewithoutfeedback do to fix the issue? @jariwalabhavesh @jzhw0130

[2018-02-13 03:57] koswarabilly commented on #129
i tag duplicate but the real solution just not provided

[2018-02-13 04:37] koswarabilly commented on #129
### the way i hack it  ###
i use `scrollToEnd` which i detect if the section is the last section or not, if it is true then i will call the method of `ScrollView` to scroll to the bottom so it will automatically show the last content. for the rest,
i use the this trick. you know that accordion can return the position of section in scrollview. i use that position to multiply it with the height of t

[2018-02-14 15:55] MichelDiz opened #151 "Proposal of channel discussion"
Hi, I took the liberty of creating a public chat in the discord facing React-Native. With the intention of uniting the React-native community and improving communication.

I'm creating a channel for public discussions about your project. To avoid flooding "chat" on your github. If you can support the initiative, great! Just share the link below xD

I'm adding RN only projects to this public chat s

[2018-02-14 16:39] MichelDiz commented on #151
Do you have any specific channels? anyway I could just preach there your link.

[2018-02-14 16:54] iRoachie commented on #151
No sorry I don't really use it myself

[2018-02-14 19:08] #151 closed

[2018-02-15 05:35] rogueturnip commented on #144
I was doing something similar with Gridview having 2 items per row, what's odd is that when I select the different header to open the other items it seems to cause a redraw on the header and gridview items that doesn't have the styling applied.  This only happens when one item is open and I don't close it before opening the other item.

Not sure if I'm explaining this well but here is my code to s

[2018-02-15 07:54] sohanpatil44 opened #152 "how to use TouchableHighlight or TouchableOpacity inside renderheader?"
My renderheader method is like this....

[2018-02-15 07:58] sohanpatil44 commented on #152
_renderHeader(section, i, isActive) {
    return (
    <View >
      <Animatable.View duration={400} style={[styles.header, isActive ? styles.active : styles.inactive]} transition="backgroundColor">
   <View style={{flexDirection:'row'}}>
   <View>
     <Icon name='keyboard-arrow-up'size={25} color={isActive ?'#214263' : '#16a085'}/>
     <Icon name='keyboard-arrow-down'size={25} color={isActive ?

[2018-02-19 08:22] sohanpatil44 commented on #58
Call a function on onPress of TouchableOpacity inside renderheader function of react-native-accordion
shwing error:undefined is not a function

[2018-02-20 02:17] nicoaureliovillanueva opened #153 "Identify tapped Index"
Hi! can you please give me a example for identifying the tapped index?

Thanks!

[2018-02-21 13:20] JoseVf commented on #86
Any update on this?

[2018-02-21 15:16] JoseVf opened #154 "Accordion sticky headers"
Is there a way to set the accordion headers sticky?
I'm creating a kind of checklist app with different groups to evaluate composed of different items.
My thinking is that the user might be able to always see on top of the screen the group that is evaluating (make the active header sticky at the top).

Current behavior:
![demonstration](https://user-images.githubusercontent.com/22102736/36487935-2

[2018-02-21 20:49] HamzahNizami commented on #152
You need to change the _renderHeader to the following

_renderHeader = (section, i, isActive) => {...}

[2018-02-21 21:34] JoseVf commented on #150
You can put the `Accordion` component inside a `ScrollView` and capture the `ScrollView`'s `onContentSizeChange` event to get the full height of your `Accordion`.

i.e:
[code]
When the `activeSection` changes (show/hide content) it fires the `onContentSizeChange` where you can get the `width` and `height` of your `Accordion`.

[2018-02-22 04:42] sohanpatil44 commented on #152
yes, i did this and now its working

[2018-02-22 04:42] #152 closed

[2018-02-25 23:53] iRoachie commented on #153
The `onChange` prop passes back the index tapped.

[2018-02-26 01:27] iRoachie commented on #145
Hey @alexstoyanov so I've got a solution that doesn't need to change anything in the api. You simply just have to put the `sections` array in your state, and then update in the `onChange` callback.

Here's an example video I made:

https://www.useloom.com/share/e97dde841afb404da3bda216d17becd1

[2018-02-26 01:30] iRoachie commented on #146
Hey could create a simple example of this behavior on https://snack.expo.io ?

[2018-02-26 01:55] acb commented on #72
@nichesoftgh04 This appears to be fixed in version `0.10.0`.  So in this case it does mean it got solved!

[2018-02-26 02:26] iRoachie commented on #154
react-native-collapsible doesn't support this feature internally, however we can use a combination of collapsible and React Native's SectionList component to get this behavior.

Here's the code and snack so you can see how it works https://snack.expo.io/BJ291g-OM.

![sticky headers](https://user-images.githubusercontent.com/5962998/36650654-f4fb1cce-1a7a-11e8-8038-a8d93daf98ab.gif)

[2018-02-26 02:28] iRoachie commented on #150
Hey @vijay-dadhich09 sorry for late follow up. What's your use case for this behavior? What are you trying to achieve by getting the expanded height?

[2018-02-26 04:40] vijay-dadhich09 commented on #150
Hi iRoachie thanks for the reply.
Actually, I have number of accordions in a scrollview component and the requirement is to scroll up bottom positions accordions after expend because when user clicks on the bottom accordion the expended area not showing in the scroll view that need to scroll up according to expended height.
So, I think I need two things one is expended height and other things is c

[2018-02-26 14:36] JoseVf commented on #154
That's exactly what I was searching. Gonna use that until the component itself allow that behavior.
Thanks a lot!

[2018-02-26 14:38] #154 closed

[2018-02-26 15:12] JoseVf commented on #150
Maybe dupe of #86?

[2018-02-27 08:36] vijay-dadhich09 commented on #150
Ho sir #86? is not related to my issue. I make it thinks more simple. How to ScrollToTop expended accordion. As soon as expend a accordion it move to top of the scrollView.

[2018-03-01 19:24] mgit7 commented on #146
I am having the same problem.  Is there anyway we can have each collapsible
 component render separately when clicked on instead of having all rerender?

[2018-03-01 20:16] JoseVf commented on #146
https://snack.expo.io/ByBGJ18dz
If you add more sections it will show more dots each time you tap on a header.

[2018-03-02 12:29] MarcoLLeite commented on #111
I think I have a similar issue.

I have a little font awesome icon (angle-right) on my header that I want to change to be (angle-bottom) when the header  expands.
To do this I would need to refresh header when it is pressed.

Accordion closed
<img width="174" alt="accordion - closed" src="https://user-images.githubusercontent.com/3867346/36899028-3f14dcf8-1e15-11e8-86fe-fa4fd105f31d.PNG">

Accordi

[2018-03-02 12:46] iRoachie commented on #111
@MarcoLLeite See the solution in https://github.com/oblador/react-native-collapsible/issues/145

[2018-03-02 13:19] MarcoLLeite commented on #111
That didn't really work for me, as the event doesn't get triggered.
Anyway, I managed to get it done on the _setSection(section)

Thanks anyway

[2018-03-06 17:39] mgit7 commented on #146
Did anyone figure out a way to fix this issue?  It really brings the performance down.

[2018-03-14 13:35] schumannd opened #156 "Better error handling / descriptions"
First of all, great plugin!

A minor issue I had while debugging my usage of it:

I ran into two errors which were not very helpful:

and

Both were some result of providing invalid values to `sections`, `renderHeader` and `renderContent`.

[2018-03-14 13:48] iRoachie commented on #156
Hey! The second error you saw:

Is a propTypes error from React. It throws that when you're trying to pass in more than one element to that function.

E.g.
[code]

Instead you need to create a wrapper element since the function only accepts one element:

[code]

For:

What code did you write that produced this error?

[2018-03-14 14:09] schumannd commented on #156
That react error was the result of passing a function, which does not return any react child.
It is a dumb mistake, but it happens easily when juggling multiple nested maps.

The other one I do not remember. Maybe passing `undefined` for `sections`?

[2018-03-14 14:11] schumannd opened #157 "passing ObservableArray instead of Array to `sections` results in warning"
If I am not mistaken, `ObservableArray` can be used just like `Array`

I get the following warning:
```Warning: Failed prop type: Invalid prop `sections` of type `object` supplied to `Accordion`, expected `array`.```

[2018-03-14 14:16] iRoachie commented on #157
What is ObservableArray?

[2018-03-14 14:20] #157 closed

[2018-03-18 03:08] iRoachie commented on #156
Thanks @schumannd will definitely add in an error check

[2018-03-18 03:13] iRoachie commented on #156
Added in https://github.com/oblador/react-native-collapsible/commit/df781b389293d11ae2211e628ddc3f386eff1f9f.

![simulator screen shot - iphone 6 - 2018-03-17 at 23 08 07](https://user-images.githubusercontent.com/5962998/37562198-ca042218-2a38-11e8-8a95-950fdcc3f478.png)

[2018-03-19 05:43] changulpaye opened #158 "refreshing section data give following error"
I am trying to implement search functionality for collapsible. But when I search something and refreshing data with setState method it gives me following error.

TypeError: undefined is not a function (evaluating 'this.props.sections.map')

This error is located at:
    in Accordion (at App.js:252)
    in RCTView (at View.js:78)
    in View (at App.js:209)
    in App (at renderApplication.js:35)

[2018-03-19 05:48] iRoachie commented on #158
Could you create a snack.expo.com? It’s actually pretty hard to tell what’s wrong without seeing your code

[2018-03-19 20:34] kylethebaker commented on #123
I was running into this issue on android too, but for me the issue was remote debugging being enabled (I use react-native-debugger specifically, not sure if the same problems arise using the chrome debugger or not). Disabling remote debugging (while not ideal while developing) fixed this on android for me. It also means that in the release builds we don't run into this.

[2018-03-20 06:27] brystfire08 opened #159 "Nested Accordion"
Hi I am new in React native.

Is it possible to have an accordion inside another accordion using your plugin? Can you give me some clues ? Thanks

Something like this:

[code]

[2018-03-23 06:32] emorphisgit opened #160 "How to use react-native-view-more-text inside react-native-collapsible"
I want to use react-native-view-more-text inside react-native-collapsible but it hides contents how I use this with react-native-collapsible.

[2018-03-27 01:28] iRoachie commented on #160
Hey @emorphisgit, the collapsible calculates the distance to expand by calculating the height of its children. If you use children that their height change after the collapsible expands then the height will be incorrect.

Don't think you will be able to use  `react-native-view-more-text` effectively with this library.

[2018-03-27 02:36] iRoachie commented on #159
Hey @brystfire08 sorry for the late reply. This is likely not possible because of how the accordion gets the height for it's children. See https://github.com/oblador/react-native-collapsible/issues/160#issuecomment-376365421.

[2018-03-27 07:47] brystfire08 commented on #159
If you have time can I see an example of this where the data source is from an nested object? Got the code from your link [https://snack.expo.io/BkpT9Zhpb]
from this issue: https://github.com/oblador/react-native-collapsible/issues/85

[code]
getting error: undefined is not an object (evaluating 'this.state.outerCollapse')

I am gonna try using Just the collapsible cause apparently using the Accor

[2018-04-04 11:02] xxstefanoxx opened #161 "background black onclick"
HI, why compare a black background during click?

[2018-04-04 11:04] xxstefanoxx commented on #161
ok found, sorry

[2018-04-04 14:50] #161 closed

[2018-04-08 23:54] peacechen opened #162 "RN 0.54 / React 16.3 deprecation warnings for componentWillReceiveProps, componentWillMount"
[code]

The fixes are actually simple and maintain backward compatibility.
Replace `componentWillReceiveProps` with `componentDidUpdate` and tweak logic appropriately.

In the rare case that `getDerivedStateFromProps` is necessary, a polyfill can be used to maintain backwards compatibility.
See https://github.com/reactjs/react-lifecycles-compat

[2018-04-09 07:01] johnlim5847 commented on #86
@koswarabilly Hey, can you provide your code? this is what I trying to achieve what you have done but so far no luck :/ . thank you very much

[2018-04-09 10:02] mthohir opened #163 "How to make collapse multiple ? herein example only single collapse"

[2018-04-09 11:34] iRoachie commented on #163
Could you be a bit clearer in your question?

[2018-04-09 11:42] iRoachie commented on #162
Thanks for reporting this

[2018-04-11 14:52] peacechen commented on #162
If you'd like, I can submit a PR for this.  Accordion should be a straight-forward fix.  The logic in Collapsible is unusual and may require additional testing.
https://github.com/oblador/react-native-collapsible/blob/master/Collapsible.js#L38

[2018-04-11 14:55] iRoachie commented on #162
How would changing it to getDerivedStateFromProps affect those not on react 16.3?

[2018-04-11 15:47] peacechen commented on #162
If `getDerivedStateFromProps` is chosen, the react-lifecycles-compat package polyfills it for backwards compatibility.

However in my experience that's not been necessary.  `componentDidUpdate` is functionally equivalent in all but the rarest cases.

[2018-04-12 10:57] karimkhamwani opened #164 "Align content prop not working"
what i want is collapseview should come from top rather than bottom for eg if you click header view comes in bottom what i want is to generate same view from top rather than bottom help

[2018-04-12 12:42] iRoachie commented on #164
I'm not understanding clearly, could you be a little clearer? Use pictures if necessary

[2018-04-12 20:30] dcoria7 commented on #161
What should I add to change highlight color?

[2018-04-13 00:41] iRoachie commented on #161
@dcoria7 You can use the `underlayColor` prop. https://github.com/oblador/react-native-collapsible/blob/master/Accordion.js#L31

[2018-04-13 11:42] karimkhamwani commented on #164
![16_search](https://user-images.githubusercontent.com/14240363/38732973-abaf9c82-3f39-11e8-8daa-3b81380f2f82.jpg)
![16_search_advanced](https://user-images.githubusercontent.com/14240363/38732985-b1209630-3f39-11e8-8be3-1972080abac3.jpg)

[2018-04-13 14:32] dcoria7 opened #165 "How put header on Bottom when open the accordion"
When I click on header accordion I would like to see this header on the bottom of all content opened but I don't know if there's a property to do that.
<img width="427" alt="captura de pantalla 2018-04-13 a la s 09 31 38" src="https://user-images.githubusercontent.com/5082455/38740575-8aa04df2-3efd-11e8-8bea-2834780a59c2.png">
<img width="412" alt="captura de pantalla 2018-04-13 a la s 09 31 50" s

[2018-04-13 14:45] iRoachie commented on #165
So it should expand upwards instead?

[2018-04-13 16:13] dcoria7 commented on #165
@iRoachie yes

[2018-04-15 01:52] jdonald commented on #163
Pretty sure @mthohir is asking how to make more than one content row expanded at a time, because I'm looking to do the same thing.

Given the API has properties like activeSection but not activeSection**s** it does not look like `react-native-collapsible` is designed for this, but any advice if we were to try to hack in the capability locally?

[2018-04-15 02:31] jdonald commented on #163
Answering my own question: I poked at the code and hammered something out that works for me: https://github.com/oblador/react-native-collapsible/compare/master...jdonald:multi-collapse-expand?expand=1

Would it be okay to remove (replace) the activeSection property?

[2018-04-15 15:10] iRoachie commented on #164
Can you make a [snack](https://snack.expo.io) showing the code you used to make this? Kinda hard to debug without seeing an example.

[2018-04-15 15:13] iRoachie commented on #165
Ahh that sounds like a good thing to add.

[2018-04-15 16:12] iRoachie commented on #163
Is there any reason you didn't use the Collapsible by itself then if you don't need the behavior of an Accordion? An Accordion is a specific behavior https://en.wikipedia.org/wiki/Accordion_(GUI).

If you want to have multiple sections open, then recommend you use collapsible, and loop over your items. That way you can have multiple sections open since you manage your own state.

[2018-04-15 16:14] iRoachie commented on #76
Closing this as outside the scope of this project. Look into ScrollView listeners and use the Animated api to achieve this effect.

[2018-04-15 16:14] #76 closed

[2018-04-15 16:24] iRoachie commented on #149
Yea I appreciate it! Github search is pretty good, so I'm sure it'll be easy for someone to find when they have a similar issue.

[2018-04-15 16:43] iRoachie commented on #145
Closing this as inactive. If the solution didn't work for you let me know.

[2018-04-15 16:43] #145 closed

[2018-04-15 16:45] iRoachie commented on #91
Closing this as inactive. Ping me if the issue persists with the latest version.

[2018-04-15 16:45] #91 closed

[2018-04-15 16:46] iRoachie commented on #113
Just merged #147. Release will be out in a few mins.

[2018-04-15 16:58] iRoachie commented on #91
Also Just merged #147. Release will be out in a few mins.

[2018-04-15 17:04] iRoachie commented on #125
Not sure what's happening there in your example.  Here's a demo using:

[code]

![kapture 2018-04-15 at 13 04 25](https://user-images.githubusercontent.com/5962998/38781040-8df850ba-40ad-11e8-94b6-98d816019212.gif)

[2018-04-15 17:13] iRoachie commented on #142
Would allowing the _renderHeader to have an `onPress` param solve your problem? It means you'd have to call this method yourself though.

[2018-04-15 17:15] iRoachie commented on #134
Closing this as inactive. Releasing a new version today that should deal better with managing the content of views. Would love for you to try it and see if the problem still persists.

[2018-04-15 17:15] #134 closed

[2018-04-15 17:39] iRoachie commented on #146
I don't have a way to easily fix this in the library itself. My first thought was to use `shouldComponentUpdate` in the Collapsible to only update if `props.collapsed` is different from the previous value. However since we use `componentWillReceiveProps` to calculate the measure then the above approach won't work.

My solution to you is to wrap your make your component in the `renderContent` a Pur

[2018-04-15 17:40] iRoachie commented on #148
Closing this as inactive. If the above solution didn't work for you then ping me.

[2018-04-15 17:40] #148 closed

[2018-04-15 17:46] iRoachie commented on #150
Sorry for late reply, Does @JoseVf solution work for you?

[2018-04-15 17:46] iRoachie commented on #153
Closing as inactive

[2018-04-15 17:46] #153 closed

[2018-04-15 17:47] iRoachie commented on #158
Closing this as inactive. Ping me or create a new issue with a clear example of your usage.

[2018-04-15 17:47] #158 closed

[2018-04-15 17:56] #159 closed

[2018-04-15 17:57] #160 closed

[2018-04-15 18:37] iRoachie commented on #165
Released in [v0.11.0](https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.0)

[2018-04-15 18:37] #165 closed

[2018-04-15 18:37] iRoachie commented on #156
Released in [v0.11.0](https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.0)

[2018-04-15 18:37] #156 closed

[2018-04-15 18:38] iRoachie commented on #113
Released in [v0.11.0](https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.0)

[2018-04-15 18:38] #113 closed

[2018-04-16 02:36] hanzou-x commented on #163
We could implement this from the ground up via Collapsible but I think that's basically reimplementing Accordion. It has its handy properties as well as functionality such as a distinct renderHeader and renderContent functions.

The second sentence on that Wikipedia link says:

which suggests this particular feature request by @mthohir and myself is a reasonable enhancement to Accordion.

[2018-04-16 02:36] jdonald commented on #163
We could implement this from the ground up via Collapsible but I think that's basically reimplementing Accordion. It has its handy properties as well as functionality such as a distinct renderHeader and renderContent functions.

The second sentence on that Wikipedia link says:

which suggests this particular feature request by @mthohir and myself is a reasonable enhancement to Accordion.

[2018-04-16 02:39] iRoachie commented on #163
Alright then, I suppose so! I'll add it for the next release.

[2018-04-16 08:01] tegarkurniawan commented on #157
@schumannd what is the answer to this problem, this same issue ?

[2018-04-16 08:09] suhabaobaid opened #167 "Warning: is Mounted(...) is deprecated"
I am having this warning isMounted(...) is deprecated in plain Javascript classes. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks.
This warning shows up when transitioning from collapsed to non-collapsed. I tried to find where isMounted is used in the code but with no luck.

package.json:
"react": "16.3.1",
"react-native": "0.55.2"

[2018-04-16 11:26] iRoachie commented on #157
I’m not sure what is observable array? Is this from knockout?

[2018-04-16 11:29] iRoachie commented on #167
It’s a generic error that is being displayed since we’re on a beta version of react 16.3 which deprecates some lifecycle methods. https://github.com/facebook/react-native/issues/18175

[2018-04-16 13:32] schumannd commented on #157
see #156
Observable array is from mobx.

The solution was making sure I was passing an array as sections

[2018-04-16 13:48] suhabaobaid commented on #167
Oh ok thanks for the quick reply. Seems they are still fixing stuff over at React.

[2018-04-16 13:48] #167 closed

[2018-04-16 16:14] iRoachie commented on #157
@tegarkurniawan mobx docs explain how to use maps and so on with Observable array.

https://mobx.js.org/refguide/array.html

[2018-04-17 02:32] iRoachie commented on #159
@r3wt this issues about nested accordions, whats your glitching related to?

[2018-04-17 02:45] r3wt commented on #159
@iRoachie i was able to nest the accordion, but the opening and closing animations cause screen blinking of the components during animation. the closest i could get is by setting easing to `linear` and duration to `0`, but it still blinks twice.

[2018-04-17 03:13] iRoachie commented on #159
Could you create a new issue with the code you used to produce that? Use [snack.expo.io](https://snack.expo.io) if you can

[2018-04-17 14:03] ericketts commented on #167
It's still deprecated, unless you've got another ticket regarding migrating away from the deprecated lifecycle methods, it seems like a good idea to keep this one open.

[2018-04-17 14:08] iRoachie commented on #167
Already a ticket open @ericketts https://github.com/oblador/react-native-collapsible/issues/162

[2018-04-17 14:16] iRoachie commented on #167
Lol Hope you can sleep after

[2018-04-17 21:14] Daadler6 opened #168 "_mesaureContent called infinite times when collapsed default value is false"
Our current implementation is using the Collapsible component in a SectionList. I've noticed that specifically on the Iphone 6s Plus that when collapsed  is defaulted to false (open state) and the component mounts the _mesasureContent is called in an infinite loop. I've traced the bug specifically the following line.

[code]

It seems that the ref of the component is not set yet and thus causing t

[2018-04-18 02:00] koswarabilly opened #169 "React native 0.55 isMounted(...) deprecation warning."
I get this warning message while using accordion.
`Warning: isMounted(...) is deprecated in plain JavaScript React classes. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks.`

i guess you have to watch it out

[2018-04-18 02:02] koswarabilly commented on #169
Sorry mentioned in #167

[2018-04-18 02:02] #169 closed

[2018-04-18 12:50] kosiakMD commented on #125
Thank you, but I can't tell you now the situation - we declined to use it, temprorary at least.
M.b. close the issue.

[2018-04-18 12:56] iRoachie commented on #125
Coolie! Sorry about taking so long to respond.

[2018-04-18 12:56] #125 closed

[2018-04-19 23:01] Taylor123 opened #170 "Can't scroll a nested ListView"
I have a pretty simple layout with a Collapsible that contains a View and a ListView. Scrolling does not work on a long list and snaps back to the original position.

Here's the layout sparring the details:
[code]

All I am trying to accomplish it toggle the collapse on switch. The collapse works great, however I lose the ability to scroll the rendered ListView when it's wrapped by the Collapsible

[2018-04-19 23:38] Taylor123 commented on #170
I found: https://github.com/oblador/react-native-collapsible/issues/106

But this seems like much more of a hack than a fix. I'd prefer not to have to wrap my collapsible in a ScrollView just to support scrolling.

[2018-04-20 04:24] bang88 opened #172 "TS missing prop for Accordion"
[code]

missing these props for Accordion Component.

By the way. can not locate 'react-native-collapsible/Accordion' module in VSCode.

[2018-04-20 13:25] iRoachie commented on #168
Will check this over the weekend.

[2018-04-20 13:27] iRoachie commented on #170
I'll look at this over the weekend

[2018-04-20 13:29] iRoachie commented on #172
Thanks for reporting, will check it over the weekend

[2018-04-20 15:32] ggepenyan commented on #168
Same here for me
 It toggles collapse infinite times. untill collapsed is true

[2018-04-20 15:34] ggepenyan commented on #168
can it be because of container is scrollView?

[2018-04-20 15:44] Daadler6 commented on #168
@ggepenyan it could be. @iRoachie - I ended up taking some of your source code and building my own custom component for the time being. I am going to post if below in case it helps you identify the source of the bug. I confirmed on our project atleast this was able to fix the issue.

[code]

[2018-04-21 22:52] Taylor123 commented on #170
@iRoachie that would be great, thanks!

Let me know if there's anything I can do to help

[2018-04-22 22:56] MichelDiz opened #174 "Typescript issue (solves deleting internal index.d.ts)"
This thing It's a bit annoying, how to standardize/solves?

[code]

![captura de tela 2018-04-22 as 19 49 26](https://user-images.githubusercontent.com/6570955/39100853-f502394c-4666-11e8-8e3e-99e430f21a62.png)

PS. 	// tslint:disable was just a try.

[2018-04-22 23:01] iRoachie commented on #174
Sorry about that, just made a fix in https://github.com/oblador/react-native-collapsible/commit/cb934c53495bb5eec215bd7e8311ed6b6f02d8b7. Will post version in couple hours.

[2018-04-22 23:07] iRoachie commented on #172
Fixed in https://github.com/oblador/react-native-collapsible/commit/285c871c226d380cde9baa83bcb708e4f9f7a3ef. Will be available in next release.

[2018-04-23 00:05] iRoachie commented on #170
Alright confirming this as a bug, tried to reproduce it here https://snack.expo.io/SkzAGs5nG. First time it scrolls as it should, but the second time I was unable to scroll.

[2018-04-23 00:33] iRoachie commented on #172
Released in [`0.11.1`](https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.1)

[2018-04-23 00:33] #172 closed

[2018-04-23 00:33] iRoachie commented on #174
Released in [`0.11.1`](https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.1)

[2018-04-23 00:33] #174 closed

[2018-04-23 07:03] ggepenyan commented on #168
Hi everyone )
I tried  `0.10.0` and it worked for me. Hope bug will be fixed in future. Thank you very much for fast and detailed response @iRoachie

[2018-04-23 10:46] iRoachie commented on #168
Alright will revert that change, do a patch fix. Look out for 0.11.2 today

[2018-04-24 15:14] andriichernenko opened #175 "Content is laid out repeatedly during expand animation"
I am trying to use `<Collapsible />` with `<Text />`. Everything works fine except one thing: text layout changes while animation is in progress.

The result looks pretty janky:
![current](https://user-images.githubusercontent.com/4421971/39196449-703cd276-47e2-11e8-8d9e-2ba3a0db51eb.gif)

The expand animation looks much better if the content is laid out just once:
![improved](https://user-images.

[2018-04-24 15:19] andriichernenko commented on #175
This issue can easily be fixed by wrapping the children in a `<View />` with fixed height:
[code]

I can start a PR, but I am not sure this won't break anything. What do you think?

[2018-04-24 19:23] ishaqashraf opened #176 "load more option in accordion"
hi, is there any option to paginate list i mean i have 10000 records in my list . so i use pagination from server but i want when the user go to last the new list render in array ?
like in flatlist there is prop which is onReached . so is there any prop in this library ?

[2018-04-24 19:24] ishaqashraf opened #177 "accordion animation slow"
its working fine when i have 10 records in my list but when i have 10,00 records in my list its working very slow like when i tap 1 records teh after 5 sec the accordion will open and if i click 2 records at a time then the accordion behaves like mad

[2018-04-25 00:34] iRoachie commented on #177
It's a render to the page, so if you have a lot of presentation that blocks the UI thread then it will stutter. It's the same as when using tab navigation and trying to switch to a tab with a long list with lots of data - the effect is the same. You may want to look at optimizing your UI in a different away.

Were you on android by the way? You may want to test it with the debugging mode off

[2018-04-25 00:39] iRoachie commented on #176
I'm not understanding you're use case. Accordion is just for toggling displaying of different sections.

[2018-04-25 01:06] iRoachie commented on #175
Awesome man that looks great. Let's try it out. My only concern might be scrollable content inside the collapsible. But the UX has never been great there either. Let's do it! Would appreciate the PR

[2018-04-25 01:15] #168 closed

[2018-04-25 04:34] ishaqashraf commented on #177
@iRoachie  i tested on it debug and as well as relaese but having issues on long list , can u suggest me a good way to sollve this issue ?

[2018-04-25 04:35] ishaqashraf commented on #176
so i there any way to use flatlist in accordion component?

[2018-04-25 10:30] ggepenyan commented on #9
In my case, I just used `<Collapsible collapsed={isCollapsed}>` but closing animation didn't work. I have tested in android.

[2018-04-25 16:35] ishaqashraf commented on #153
@iRoachie  i want when the user click on accordion header then a loading indicatior appears for 30 sec and then stopeed the indicator and accordion expands.. how to achieve this ?

[2018-04-25 17:06] iRoachie commented on #153
You can just put the logic in the onChange callback. onChange is function, so you can do whatever logic you need to do before setting the state

[2018-04-26 04:11] iRoachie commented on #177
Is there any reason you can't display the info differently? Why are you trying to displaying 10,000 items? It's not good UX to have very long list.

You can try using some methods on the FlatList to lower the initial load. Check out:
[`initialNumToRender `](https://facebook.github.io/react-native/docs/flatlist.html#initialnumtorender)

[2018-04-26 04:13] iRoachie commented on #176
You have to handle the content inside the Accordion yourself. Are you saying you have 10,000 sections?

[2018-04-26 04:13] iRoachie commented on #9
@ggepenyan Can you open a new issue?

[2018-04-26 08:23] lukamrkonjic opened #179 "How to toggle Accordion collapsed={} when clicking a header?"
Hey guys!

I love this module but we've been having some issues with the Accordion. I try to make it so that when you click a header on an accordion, it expands showing multiple TouchableOpacities(that when clicked depending on which button, adds the header text to the title of the accordion).

The problem is that when we click on it, it expands, but it does not work to toggle the state isCollapse

[2018-04-26 08:39] LukaMrkonjic commented on #179
For reference: I did this after 9 coding hours so my brain messed up haha. I think I just solved this by binding the _-functions instead of state, my bad. But if you want to add something to this, be my guest! 😀

[2018-04-26 12:48] stsiushkevich opened #181 "[Android] Panel isn't collapsed on Android"
"react-native": "0.51.0"
"react-native-collapsible": "0.11.2"
Android 5, 6, 7

I have an app scene:
<img width="376" alt="screen shot 2018-04-26 at 15 43 43" src="https://user-images.githubusercontent.com/12151060/39306363-af8e7b0a-4968-11e8-893c-6ee8873fd82c.png">

When I open, then close, then open collapsible panel - after this I cannot close it second time.

In this scene I cannon close last p

[2018-04-26 12:50] stsiushkevich commented on #181
I don't use an Accordion component I'm may case intentionally.

[2018-04-26 12:52] iRoachie commented on #181
Hey so you think you could recreate this on [snack.expo.io](https://snack.expo.io)?

[2018-04-26 12:57] stsiushkevich commented on #181
I will try

[2018-04-26 13:05] stsiushkevich commented on #181
I cannot create in snack - I don't have much time(((

[2018-04-27 00:37] vaporwavie opened #182 "[Android] React error when declaring a component as content"
Hey guys! I'm having some trouble declaring a component at the `content`. This is the output I'm having:

![screenshot_1524789035](https://user-images.githubusercontent.com/11232965/39338458-3e9807fa-4999-11e8-9f7f-39fc0e4ee278.png)

This is my component code (`DashboardComponent.js`):

[code]

This is the way I'm declaring the component:

[code]
My `package.json`
[code]

If I remove the `View`, t

[2018-04-27 04:00] jamessawyer opened #183 "Can we override renderHeader's onPress event?"
I want to press header,dispatch an action to get panel's content.However, I found when I override onPress func in renderHeader, the Accordion is not collapsible any more. Here is my code:
[code]
can you expose an property to control the state of collapsible?

[2018-04-27 04:02] iRoachie commented on #182
You can control any logic of display in the `renderContent` prop. Here's an example using a component like your example above. https://snack.expo.io/SJW5eXxTG

[2018-04-27 04:09] iRoachie commented on #183
There's no need to have a touchable inside the header. Instead you can use the `onChange` prop along with the `activeSection` prop to handle the closing and opening yourself.

Your `onChange` could simply have a function that does the `getReply` logic you have above, then set the state whenever your logic is complete.

[code]

[2018-04-27 04:10] iRoachie commented on #179
I think https://github.com/oblador/react-native-collapsible/issues/183#issuecomment-384858331 might be able to help you. Let me know.

[2018-04-27 06:30] jamessawyer commented on #183
@iRoachie Hey,thanks for your help, it now works great! BTW,here is my code,hope that can help others
[code]
thanks again for the great libaray!

[2018-04-27 10:13] #183 closed

[2018-04-27 14:12] vaporwavie commented on #182
It worked! Thank you very much :smile:

[2018-04-27 14:12] #182 closed

[2018-04-27 22:12] jerryheir opened #184 "Collapsible not working for nested view... HELP!"
### Hello Everyone,
##### Please I tried to use the Accordion Collapsible with the below
`  _renderHeader(section) {
    return (
      <View>
      <ListItem style={{ flex: 0, height: 75, width: "103%", alignSelf: "center", marginRight: 10, backgroundColor: "#fff", paddingVertical: 8 }}>
        <Left style={{flex: 0, flexDirection: "column", width: "40%", alignItems: "flex-start", justifyContent

[2018-04-27 22:51] jerryheir commented on #184
Apparently, react-native-collapsible does not support ListItem from Native-base, I had to change that to View

[2018-04-27 22:51] #184 closed

[2018-04-30 06:37] ggepenyan opened #185 "Animated on open but not close"
I'm working in `CRNA`.
I've put `Collapsible` is inside `ScrollView` -> `View`.
`<Collapsible collapsed={isCollapsed}>` - I've used only Collapsible, **haven't used Accordion**.
I got it on both android and ios platforms.
[code]

[2018-05-01 13:09] ishaqashraf commented on #179
there is a function onChange(index)   which willl give you the index . if u click on header (open) it will give you index no. an when u clock accordion it will give you false..

[2018-05-01 13:11] ishaqashraf commented on #177
can you please make a example for me in which u can used accordion component with flatlist..
i will be thankful to you .

[2018-05-02 21:10] uthaykula opened #186 "Is it possible to have more controls inside the content other than default TEXT"
Hi

First of all this is not an issue, just i'm trying to use it for some other purpose....

I have made a component using collapsible Animation and i'm using more than one accordion in one screen by passing content as props and it is working as expected as long as title & content remain string.  I changed the render method to accept any props like this

ORIGINAL EXAMPLE (Working)

[code]
I change

[2018-05-06 16:09] iRoachie commented on #185
Can you give an example with the content you used inside the collapsible?

[2018-05-08 04:48] iRoachie commented on #186
You can render anything you like in the `renderContent` method. Here's an example snack where an element is return instead https://snack.expo.io/@roach_iam/accordion-render-element

[2018-05-11 01:45] FrancisMurillo opened #188 "Last item in accordion overlaps with element"
Hello,

I found a strange behavior when activating the last item in an accordion, it overlaps with the item below it.

![overlap](https://user-images.githubusercontent.com/7600642/39902207-81d2a306-54ff-11e8-886c-78cbdddcf4f5.png)

Not a big issue since an easy workaround is to add a small `marginTop` to prevent the overlap. I reckon the problem stems from using `position: 'absolute'`.

[2018-05-11 15:22] iRoachie commented on #188
This should be fixed by https://github.com/oblador/react-native-collapsible/pull/180. Can you reproduce this on https://snack.expo.io? I'll test it when I merge in the above PR

[2018-05-14 09:13] Gretchin commented on #185
Same with Accordion. Checked on Android only, without expo.
[code]
My `renderContent` func:
[code]

[2018-05-15 13:50] uthaykula commented on #186
Thanks @iRoachie That's worked.

[2018-05-15 13:50] #186 closed

[2018-05-15 20:35] jerryheir opened #189 "Cannot find module 'react-native-collapsible/Accordion'"
I try to create a .tsx file to use Accordion,
`import Accordion from 'react-native-collapsible/Accordion'`
but it tells me **cannot find module 'react-native-collapsible/Accordion'**
Please what am I doing wrong?

[2018-05-15 20:49] archvill commented on #145
I've had exactly the same requirement, child component should only fetch and render data if user expands an accordion. And also we'd like to force data reload every time user expands it again. The solution was simple - since that's our responsibility to maintain collapsed state, we've put children into the collapsible only it is expanded:

    const { collapsed } = this.state;
    ...
    <SomeHea

[2018-05-15 22:37] iRoachie commented on #189
Hey @jerryheir What version are you using?

[2018-05-15 22:46] iRoachie commented on #189
Nevermind, I encountered the bug as well, will fix soon.

[2018-05-15 22:48] jerryheir commented on #189
Okay, thanks a lot

[2018-05-15 22:48] jerryheir commented on #189
"react-native-collapsible": "^0.11.2",

[2018-05-15 23:11] iRoachie commented on #189
Fixed in https://github.com/oblador/react-native-collapsible/commit/ba349c6014a395fea276edb350787dea75c6ba3f, will be available next release

[2018-05-15 23:15] iRoachie commented on #185
Does the example app in the repo work for you?

[2018-05-15 23:15] iRoachie commented on #142
Closing as inactive.

[2018-05-15 23:15] #142 closed

[2018-05-15 23:16] iRoachie commented on #146
Closing as inactive, if the above solution didn't work then comment here or create another issue with an example.

[2018-05-15 23:16] #146 closed

[2018-05-15 23:17] iRoachie commented on #162
@peacechen Are you still interested in doing the PR?

[2018-05-15 23:17] iRoachie commented on #164
Closing as inactive.

[2018-05-15 23:17] #164 closed

[2018-05-15 23:23] #179 closed, assigned to nobody

[2018-05-15 23:42] jerryheir opened #191 "How to update _renderHeader function"
Hello Great Minds, I have an imported component to be returned in my _renderHeader(), and in the component it needs to update an image when a used clicks the Accordion to be expanded using state, but its throwing errors. Please, how can I go about this. So far, I don't the onChange function props can do this for me. And I can't use View event handler like the TouchableOpacity onPress, it throws an

[2018-05-15 23:52] iRoachie commented on #191
`renderHeader` is a prop that just expects a function that returns a react component. You can put whatever logic in that function. See [this comment](https://github.com/oblador/react-native-collapsible/issues/145#issuecomment-368365486) for an example doing it with state. The example is for `renderContent` but it should be the same for `renderHeader`

[2018-05-16 00:28] jerryheir commented on #191
I will try it and see what happens

[2018-05-16 00:36] #175 closed

[2018-05-16 00:44] iRoachie commented on #189
Released in [0.11.3](https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.3)

[2018-05-16 00:44] #189 closed

[2018-05-16 00:45] iRoachie commented on #175
https://github.com/oblador/react-native-collapsible/releases/tag/v0.11.3

[2018-05-16 05:57] peacechen commented on #162
Yes I'll submit a PR soon.  Sorry this got lost in the shuffle.

[2018-05-16 06:10] Gretchin commented on #185
I replaced Accordion on presented below Collapsible and it works good. I don't know.
[code]
P.S.: `Text` from NativeBase here and in the previous comment

[2018-05-17 02:54] dhanala89 commented on #159
@brystfire08 did you manage to figure out your example that you have posted here? I am looking for some help with something similar.

[2018-05-17 19:31] peacechen commented on #162
Created PR #192

[2018-05-18 00:53] pashute opened #193 "Feature request: Add chevron change and default style changes when toggled"
I would like a chevron (a small triangle or any other icon, that toggles state when collapsed or opened.

Also it would be goog to have some default styles that toggle between open and closed view.

And a default separator line between each item.

Please see this tutorial:

https://moduscreate.com/blog/expanding-and-collapsing-elements-using-animations-in-react-native/

It has a chevron (small tri

[2018-05-18 01:29] iRoachie commented on #193
Hey @pashute there's no reason why you can't apply the changes you requested in your own component. You can conditionally display the chevron using the `isActive` param thats passed in the `renderHeader` and `renderContent`.

[2018-05-18 01:29] brystfire08 commented on #159
@dhanala89 no I have not yet.. for now I settled to a nested list view solution which renders a nested Flatlist but it is not accordion :(

https://github.com/fjmorant/react-native-nested-listview

[2018-05-18 01:29] iRoachie commented on #193
This lib serves to be as general purpose as possible :)

[2018-05-18 12:43] Dihan2715 commented on #167
Still waiting on this to be fixed. It keeps my iMac super laggy because it produce memory leaks every time a component is mounting or unmounting. My development is alwasy interrupted so I need to restart the simulator. Btw I'm using Expo on my case.

[2018-05-19 16:01] ggepenyan commented on #185
I will give code example in two three days

[2018-05-21 20:31] fouratj opened #194 "Component width"
Upon opening and closing all the collapsible items, the component snaps to a new width (something like half the original width), and stays so. See example before/after.

BEFORE:
![before](https://user-images.githubusercontent.com/11446404/40328408-a673a320-5d1c-11e8-91f2-f8bfb4bd2eb0.PNG)

AFTER:
![after](https://user-images.githubusercontent.com/11446404/40328409-a697cac0-5d1c-11e8-8f6f-e40cd9133

[2018-05-21 22:05] LukaMrkonjic commented on #179
Sorry for not answering, and thank you very much for the lovely answers!

[2018-05-22 22:48] nertilzhuri opened #195 "Collapsible Content rendered wrong after state change (style update)"
If the collapsible content is designed to change style for any state update, the content is not rendered properly inside the collapsible.
For instance having a drop-down style collapsible with languages, and the selected language is highlighted; once you press another language it is expected for that row to be highlighted, but instead it is removed.

I've prepared an expo snack with the problem he

[2018-05-23 10:17] YaoHuiJi opened #196 "Accordion sections prop not support Realm.Results"
When using [RealmJs](https://realm.io/docs/javascript/latest) query result as the datasource of Accordion , since [Realm.Results](https://realm.io/docs/javascript/2.6.0/api/Realm.Results.html) is not a array, but an array-like object,  and the  prop 'sections'  MUST be an array, so an error will be throwed by this function
https://github.com/oblador/react-native-collapsible/blob/ed6283a8ce7ea16e7b

[2018-05-23 12:36] iRoachie commented on #196
You can cast the results from realm as an array that you can then pass to the accordion. See https://github.com/realm/realm-js/issues/280#issuecomment-347011764

[2018-05-24 06:45] YaoHuiJi commented on #196
thank you,I have read this realm thread before, in my code I use the function lodash.values to do the same thing, but I really do not like the unnecessary process, speaking of which maybe this should be a realm issue and I know they are working on it since 2016😢... anyway thank you for your reply

[2018-05-24 07:58] sabiya115 commented on #163
@iRoachie Can you please add this feature ASAP, it's very much required.

[2018-05-24 11:20] iRoachie commented on #163
I’ll try to look over the PR tonight

[2018-05-24 11:21] #196 closed

[2018-05-27 18:49] willthexu opened #200 "When using flex in child views, the view disappears from Collapsible"
Setting a min height doesn't bring the view back either. The issue also persist when using flex in a child on the child view of Collapsible.

[2018-05-28 11:20] iRoachie commented on #200
Could you make an example using [snack.expo.io](https://snack.expo.io)?

[2018-05-29 15:09] snorlaxdev opened #201 "Section should be an array"
So I'm following the example from documentation, but it keeps show error though it's correct, I mean there's no error in my code, isn't it?
[code]

my package.json:

[code]

[2018-05-29 15:10] iRoachie commented on #201
What error is it showing?

[2018-05-29 15:12] iRoachie commented on #201
Also the prop is called `sections` not `section`

[2018-05-29 15:15] snorlaxdev commented on #201
Oh hahaha I forget that, thank you...

[2018-05-29 15:15] #201 closed

[2018-05-30 08:06] slorber opened #202 "Add ability to listen for animation completion"
Hi,

I'd like to be able to listen for animation completion.

My usecase:
- I want a view to be collapsible
- When that is not collapsed, I want to make it scroll into view (like the DOM element function)
- I need to wait until animation completion before making it scroll into view to avoid unwanted behaviors
- The "scrollIntoView" implementation is provided by https://github.com/APSL/react-native

[2018-05-30 10:34] iRoachie commented on #202
Already coming in the next release https://github.com/oblador/react-native-collapsible/commit/3a600ca6fe18a84c9dcdd358fe9b944d5b30f026

[2018-05-30 10:57] slorber commented on #202
awesome thanks, will wait for that release

[2018-05-30 18:18] Bassonlinho opened #203 "Search functionality over sections"
Hey, great library thanks a lot!
I have both filter and search functionality implemented over the Accordion but the thing is it sometimes does not render content. Although it does search job perfectly, and renders header perfectly(which I know based on number of sections I have in my renderHeader function). Also I console logged the sections after search and the one missing is actually there, its

[2018-05-31 09:40] Bassonlinho commented on #203
As far as I could see while playing with it, sometimes it takes height of previous section(before search was applied), renders content correctly but renders white space below as well. What does bother me is the fact that renderHeader ALWAYS rerendered without problem, while renderContent sometimes buggs out, sometimes not. I'm attaching screenshots before search applied and after. Did anyone exp.

[2018-05-31 11:30] iRoachie commented on #203
https://github.com/oblador/react-native-collapsible/pull/197 Should fix this.

[2018-05-31 11:37] Bassonlinho commented on #203
Isn't this pull request related to Collapsible? I'm using Accordion because I work with live data that I fetch from server

[2018-05-31 15:50] iRoachie commented on #203
Accordion uses collapsible underneath

[2018-05-31 16:06] Bassonlinho commented on #203
Aha, okay. So it will be fixed in next release?
Just to know, because I like how stuff works and would like to stick to this library.

[2018-05-31 16:17] iRoachie commented on #203
Yessir! Should release a version this weekend

[2018-05-31 16:18] Bassonlinho commented on #203
Great man, nice work!
I'll close this. Have a nice weekend :+1:

[2018-05-31 16:18] #203 closed

[2018-06-02 06:20] SirPhemmiey opened #204 "Undefined is not a function"
Hi guys,
Buttons in the _renderContent function doesn't respond to events.
Take a look at this
` return (
      <View >
          <View style={styles.contentContainer}>
          <Text style={styles.contentHeader}>Provider Name</Text>
        <Text style={styles.contentText}>{section['Provider'].name}</Text>
      </View>
      <View style={styles.contentContainer}>
          <Text style={styles.c

[2018-06-02 10:46] Bassonlinho commented on #204
Set your Accordion renderContent like this
renderContent={(section, i, isActive) => this._renderContent(section, i, isActive)}

And then in your _renderContent function you can do:
this.setModalVisible.bind(this, true)

Hope it helps

[2018-06-03 04:26] SirPhemmiey commented on #204
Works great. Thanks!

[2018-06-03 04:30] #204 closed

[2018-06-05 09:08] xstable commented on #86
@jariwalabhavesh doesn't got it to work with your solution.
And the link you posted above (https://drive.google.com/open?id=1Atyn5YRpSHW63sEYxLvgXK9GtvhtXOhx) is protected (no permission to show the file)

@jariwalabhavesh did you get it to work? If yes, how?

[2018-06-05 09:35] jariwalabhavesh commented on #86
@xstable
I think solution was provided by @jzhw0130 and link was also shared by him. And i was also not able to get that solution work in my app as well

[2018-06-05 09:41] xstable commented on #86
I have the same Issue like you in your gif.
@jzhw0130 Seems only to solve the issue, that the very last entry wouldn't scroll down to the lower bottom

But what I need to solve is that if you open an Accordion with much content, srcoll down and open one with few content, the List dosn't scroll current activated Item into view.

[2018-06-05 10:18] jariwalabhavesh commented on #86
@xstable :  I was just tracking render position of each header and storing it. And whenever any header click  then i scroll up to it's position.

**renderHeader Component**
[code]
**Main Component**
[code]

Please take a look to above code, May be it may help you, It is not exact solution it is hack and sometimes you fill that header are jumping little bit.

[2018-06-05 13:57] xstable commented on #86
@jariwalabhavesh thanks a lot, but I got an error: undefned is not a function (evaluating '_this2.refs[refName].neasure')

You have a clue why measuring not work?

[2018-06-05 14:29] ramnasidharta commented on #150
Hi! I think I have the same problem as @vijay-dadhich09, so I could say that #86 is not a solution. An example:
We have an Accordion with 4 sections. The 3th section, in fact, is an Accordion itself. In this case, when we expand a section of this last accordion, some content doesn't appear, because it is hiden under the 4th section, which doesn't move down.

How we can see, in the third image bell

[2018-06-06 13:14] archvill commented on #85
I've also had issues with height not increasing in outer collapsible when expanding inner one (a simple menu-like tree). The single change I've made is downgrade lib to 0.9.0, as I not found any significant differencies with example from @iRoachie. Looks like newer versions doesn't support it well.

[2018-06-06 13:16] iRoachie commented on #85
Yea you're correct, it has to rollback. See https://github.com/oblador/react-native-collapsible/pull/197

[2018-06-06 14:44] xstable commented on #86
@oblador Is the work for this bug in progress? Would really be great if you could fix this in the main-core so that no workaround is needed.

[2018-06-06 16:17] jariwalabhavesh commented on #86
@xstable
It was working fine on my app. but i am using bit older version that is RN 36, I think you should try reference callback instead providing ref name like.
[code]

[2018-06-07 09:30] Bassonlinho commented on #203
I suppose you are busy but, any updates on when should next release arrive?

[2018-06-07 11:14] iRoachie commented on #202
Released in [0.120](https://github.com/oblador/react-native-collapsible/releases/tag/v0.12.0)

[2018-06-07 11:14] #202 closed

[2018-06-07 11:14] iRoachie commented on #203
Released in [0.120](https://github.com/oblador/react-native-collapsible/releases/tag/v0.12.0)

[2018-06-07 11:16] iRoachie commented on #194
Could you check if this still occurs using [0.120](https://github.com/oblador/react-native-collapsible/releases/tag/v0.12.0) ?

[2018-06-07 11:16] iRoachie commented on #193
Closing as inactive

[2018-06-07 11:16] #193 closed

[2018-06-07 11:16] iRoachie commented on #191
Closing as inactive

[2018-06-07 11:16] #191 closed

[2018-06-07 11:18] iRoachie commented on #176
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2018-06-07 11:18] #176 closed

[2018-06-07 11:20] iRoachie commented on #185
@ggepenyan Did you get through?

[2018-06-07 12:31] fouratj commented on #194
Hi iRoachie,

I can confirm that it is still happening on v0.120. It's weird, because it'll only occur after you have opened and closed each single one. Until then, everything is ok.

[2018-06-07 15:14] xstable commented on #86
@jariwalabhavesh Same error, doesn't work.

[2018-06-10 03:26] kristoferpelchat opened #205 "example does not work on android via react-native run-android"
react-native run-ios works perfect and looks fantastic! I was going to customize some backgrounds and fonts when I saw it does not work in android. Is there an extra file/flag I am missing?

[2018-06-11 13:00] iRoachie commented on #205
What error do you get on android?

[2018-06-11 13:32] kristoferpelchat commented on #205
What seemed to happen is I was not seeing anything come up in the ScrollView. I was using your example with the Accordion and finding it was rendering in iOS but not in Android. This morning I initialized everything and completely rebuilt with react-native. ALL SEEMS TO BE WORKING NOW! :)

I am happy to close this issue out but one question. I am getting the following warning in both iOS and Andro

[2018-06-11 13:38] iRoachie commented on #205
Yea that last part about the isMounted we have a PR already made for it. So that'll be merged soon.

[2018-06-11 13:38] #205 closed

[2018-06-11 13:39] kristoferpelchat commented on #205
Fantastic! You guys have a great component! Thanks for the VERY quick response and help!

[2018-06-11 13:40] iRoachie commented on #205
Thanks mate! Happy coding

[2018-06-14 21:40] vitorebatista commented on #195
I have the same problem...

[2018-06-15 08:54] enrtama commented on #167
+1, same issue

[2018-06-18 09:11] bkitduy commented on #194
I'm faced this issue on Android. How  can we fix it ?

[2018-06-19 15:51] shivsuthanm-odhub opened #206 "Content View Click event"
How to manage Touchable click event in content render?
[code]
Please find below content render function.

[code]

[2018-06-19 16:16] iRoachie commented on #206
What's the problem?

[2018-06-20 18:48] ntomallen commented on #162
Any progress on this? We're getting a lot of warnings in our simulators due to it 😋

[2018-06-20 20:52] issnoe opened #207 "Error renderContent"
export default class AccordionView extends Component {
    constructor(props){
        super(props);
    }
    _renderSectionTitle(section) {
        return (
            <View style={styles.content}>
                <Text>{section.content}</Text>
            </View>
        );
    }

    _renderHeader(section) {
        return (
            <View style={styles.header}>
                <Text style

[2018-06-21 11:23] cola91hn opened #208 "Add more view in content error"
I have a issue when i add more view in content.
var CONTENT = [
      {
        title: 'ABC',
        content: <WOAB updateService={obj}/>
      },
      {
        title: 'ABC 1',
        content: <WOAB updateService={obj}/>
      },
      {
        title: 'ABC 2',
        content: <WOAB updateService={obj}/>
      },
      {
        title: 'ABC 3',
        content: <WOAB updateService={obj}/>

[2018-06-22 03:02] iRoachie commented on #162
Will try to look at this weekend 😕

[2018-06-22 03:03] iRoachie commented on #207
I don't understand your issue. What error are you receiving?

[2018-06-22 03:06] iRoachie commented on #208
Can you recreate your error on https://snack.expo.io? Your issue just shows an array and doesn't explain the issue or the code that produced it.

[2018-06-22 04:13] peacechen commented on #162
I've been using this in my fork for a month and it's been 100% stable and functionally equivalent.

[2018-06-22 08:18] ZSH-HSZ opened #209 "Gets the child click event"
![image](https://user-images.githubusercontent.com/31639046/41765764-a1e55676-7637-11e8-9158-180ff707c628.png)
 Is there an event outside that lets me know that I clicked on the child？

[2018-06-23 07:09] hupptechnologies opened #210 "Content height doesn't updating if content view updated."
Hello all, i am having issue with reactive content that can be updated when props updated.

I have refered this [issue](https://github.com/oblador/react-native-collapsible/issues/105) same as mine but didn't understand fix for it.

Below is my implementation for it, didn't wrote full code here just basic implementation.

[code]

Please check below gif for issue.

![height](https://user-images.gith

[2018-06-25 02:30] nhxyj111 opened #211 "Can not work well with react-navigation"
if the component that containing **react-native-collapsible/Accordion** is not the first screen of RootStack  that is a StackNavigator, Accordion works not well on Simulator and crash on Devices

[2018-06-25 03:16] #211 closed

[2018-06-25 04:33] hupptechnologies commented on #210
Updating to 0.12 fixed issue.

[2018-06-25 04:33] #210 closed

[2018-06-25 17:30] markentingh opened #212 "isMounted is deprecated"
After importing & using this component in my React Native project (0.55.4), I get a warning message upon loading:

The warning appears whenever I change the `collapsed` prop to `true` as well.

[2018-06-25 17:31] iRoachie commented on #212
Duplicate of #162

[2018-06-25 17:31] #212 closed

[2018-06-25 17:32] markentingh commented on #212
Cool, I did search for "isMounted" before posting my issue, thanks for such a quick response

[2018-06-25 17:32] iRoachie commented on #212
No problem, haven't gotten around to looking over the PR as yet.

[2018-06-25 17:34] markentingh commented on #212
I believe in you :)

[2018-07-04 20:02] mxmtsk opened #215 "Wrong calculations & cut off text"
When using padding within the content it seems that text get's cut off so I assume something is calculated wrong. See the last word in the screenshot:

<img width="338" alt="bildschirmfoto 2018-07-04 um 21 58 49" src="https://user-images.githubusercontent.com/4848184/42292834-c335d682-7fd5-11e8-9b89-76d662a24f31.png">

Also, a weird space is visible below the expanded content. This get's especiall

[2018-07-05 07:52] mxmtsk commented on #215
Hey @iRoachie thanks, haha!

You can find the snack here:
https://snack.expo.io/@mxmtsk/collapsible-test

[2018-07-06 15:49] Taglohner commented on #215
Hi mxmtsk,  in fact I'm having the same issue with margin, I managed to arrange my view using padding instead.

[2018-07-09 00:39] brycepavey commented on #134
@iRoachie this solution also fixes my use case. here's a gif of whats occurs when using the library as-is. replacing `overflow: 'hidden'` with `overflow: 'scroll'` solves it for me. I think there's potentially more to this though, as this occurs when I'm using tcomb-form-native within the accordion

![capture](https://user-images.githubusercontent.com/6986339/42425461-4b247358-8361-11e8-8a7e-de677

[2018-07-10 10:25] nicomontanari98 opened #217 "Height of collapsible view doesn't change"
If component is collapsed it's height doesn't change
I'm using the version 0.12.0

![Gif](https://user-images.githubusercontent.com/15747776/42504342-be1315ba-843b-11e8-83fa-c154eb7e8a10.gif)

[2018-07-11 12:08] booleanBoy opened #218 "Animated height starts at 0 when using collapsedHeight"
Hello,

As you can see, when using a collapsedHeight and then toggling the collapsible state, the animation always starts at 0 before expanding.
![collapsibleissue](https://user-images.githubusercontent.com/3264341/42569932-7e8bc41e-8512-11e8-99a2-c4a5a2a1aa88.gif)

My code, if it's of interest:

[code]

I've looked through the library code and failed to spot the problem. Frankly, if it was obviou

[2018-07-12 01:28] ayehia opened #219 "initiallyActiveSection 0 does not work (the content area NOT expanded as expected)"
The Accordion placed in react native Modal

I tried to set  **initiallyActiveSection** and **activeSection** to ZERO for expanding the first item

The active flag passed correctly to **renderHeader** callback but the content arent not opened

![image](https://user-images.githubusercontent.com/12626365/42607405-f58d44dc-8582-11e8-8d3c-3701ffd91c1c.png)

PS: everything works as expected (expand, col

[2018-07-12 23:06] ReaganMcF1059 commented on #218
I am also having this issue. One really awkward workaround is setting the styles attribute `height` of the `Collapsible` component, but then you need to update the `height` every time the component is toggled. However, it ends up being slow, clunky and looking terrible, so a real solution would be great.

[2018-07-13 02:37] nguyenvanphuc2203 commented on #215
i have same issue

[2018-07-13 02:46] nguyenvanphuc2203 opened #220 "content not break line in IOS, android work fine"
![screen shot 2018-07-13 at 9 45 53 am](https://user-images.githubusercontent.com/33291479/42669799-95ec92bc-8681-11e8-9fc5-23af7ffbafa7.png)

[2018-07-15 04:30] markentingh commented on #162
so I guess no one cares about this React Native component anymore, and anyone who does, will forever see a warning anytime the component is being used within their app. Either merge the pull request or give someone else control over this repository.

[2018-07-16 15:09] maartenvandillen commented on #206
@iRoachie I think I have the same problem. My content contains a list of TouchableOpacity's with their own onPress handlers. When clicking one of the TouchableOpacity's the content container closes instead of the onPress handler getting called.

[2018-07-16 15:10] iRoachie commented on #206
It's definitely a bug I've seen come up before. I didn't write the original code for it, I came onto the project as a maintainer. I'll see if I can look into it and fix the problem.

[2018-07-18 10:08] Desz01ate opened #221 "Any way to render content by passing an array instead of atomic value?"
assume that I had an object that is structure like this
[code]
and I need to use "Content" as a source of Accordion renderContent how can I achieve this?
I've try sending second parameter as index to

[code]

 but it doesn't seem to work.

[2018-07-19 02:09] Desz01ate commented on #221
problem solved.

[2018-07-19 02:09] #221 closed

[2018-07-19 14:23] livein21st opened #222 "Example for using collapsible in sectionList"
Hi, it's a great library. However I wonder if you can provide some example of using it in react native SectionList. also allowing only one section to open at a time and other are closed when clicked.

for example like that https://www.npmjs.com/package/react-native-expandable-section-list

Thanks again.

[2018-07-22 16:06] iRoachie commented on #162
Would like to point out these errors don't show in react-native@0.56

[2018-07-22 16:10] iRoachie commented on #162
Still merging your fix though @peacechen, thanks!

[2018-07-22 17:18] iRoachie commented on #162
Fixed in [v0.13.0](https://github.com/oblador/react-native-collapsible/releases/tag/v0.13.0). Thanks, everyone.

[2018-07-22 17:18] #162 closed

[2018-07-22 17:19] iRoachie commented on #188
Closing as inactive.

[2018-07-22 17:19] #188 closed

[2018-07-22 17:19] iRoachie commented on #207
Closing as inactive.

[2018-07-22 17:19] #207 closed

[2018-07-22 17:20] iRoachie commented on #220
Can you create an example on https://snack.expo.io that reproduces this?

[2018-07-22 17:21] iRoachie commented on #185
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2018-07-22 17:21] #185 closed

[2018-07-22 17:22] iRoachie commented on #194
Can you create an example on https://snack.expo.io that reproduces this?

[2018-07-22 17:42] iRoachie commented on #195
The issue seems to be with the `flex:1` that you applied on the `<Text />`. Here's a working example https://snack.expo.io/HkSZMHGVm.

Unrelated, I recommend you clean up your styles and make the dropdown Item a separate component.

[2018-07-22 17:46] iRoachie commented on #208
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2018-07-22 17:46] #208 closed

[2018-07-22 17:48] iRoachie commented on #209
Is there any reason you can put your own Touchable inside?

[2018-07-22 17:48] iRoachie commented on #200
Closing as inactive.

[2018-07-22 17:48] #200 closed

[2018-07-22 17:48] iRoachie commented on #217
Can you create an example on https://snack.expo.io that reproduces this?

[2018-07-22 17:51] iRoachie commented on #218
I can't seem to replicate this issue. It's the second time I've seen someone bring it up, but I'm not sure how to fix cause can't reproduce. Would appreciate if you could reproduce it on https://snack.expo.io

[2018-07-22 18:10] iRoachie commented on #219
You can see here that the Accordion works with no problem https://snack.expo.io/B1TvOSfVX

[2018-07-22 18:21] iRoachie commented on #222
I don't this library will be able to work with react native's SectionList as they are doing the same things.

You can just use the Accordion from this package. Here's an example https://snack.expo.io/rkuMoHzVm

[2018-07-22 18:29] mxmtsk commented on #215
@Taglohner I haven't used any margin though...
@iRoachie Did you have a chance to take a look at this? We're close to rolling out our app and this is one of the last bugs we encounter

[2018-07-22 18:36] iRoachie commented on #215
This is such a weird bug, seems like it's an issue with lineHeight, cause without setting it, it works as expected.

Everything seems to work after adding `flex: 1` to the `contentInner` style. https://snack.expo.io/rJj30SMEQ

[2018-07-22 18:44] WarHatch commented on #215
@mxmtsk are you sure this is not just a ScrollContainer issue? I had the same problem recently where I passed padding to `style` instead of `contentContainerStyle`.
Here's the link to the [ScrollContainer issue](https://github.com/facebook/react-native/issues/2914)

[2018-07-22 18:48] mxmtsk commented on #215
@iRoachie I can confirm that your "workaround" does work, so the issue is resolved for me (but maybe not for this library in general) - thanks!

@WarHatch Yes I'm sure, I'm not passing any styling to `ScrollView` in my component

[2018-07-22 18:50] iRoachie commented on #215
Awesome glad I could help. Not sure how we could fix in the future, but I'll look into it more closely if someone else brings it up. Beautiful app man!

[2018-07-22 18:50] #215 closed

[2018-07-23 04:10] r3wt commented on #159
looks like my supposed solution was fools gold. once i added content to the views, it now has infinite render. looks like a disco ball of accordions.

[2018-07-23 06:09] markentingh commented on #162
Thank you for putting in the work to get this resolved, guys!

[2018-07-23 07:50] andreaskarantzas commented on #195
What @iRoachie proposed worked for my case where a child inside the collapsible component after an update was vanishing.

[2018-07-23 20:22] ntomallen commented on #162
I'm not sure if I missed something, but I'm still getting the warning.

Importing this: `import Accordion from 'react-native-collapsible/Accordion'`

react-native version: `0.54.4` (need to wait for a future minor release so that windows bug is resolved)
react version: `16.4.0`
react-native-collapsible: `^0.13.0`

We were on the previous version of react-native-collapsible, and I upgraded by bumpi

[2018-07-23 21:49] iRoachie commented on #162
There’s no other reference to deprecated lifecycle methods in the source. But in my experience it has shown sometimes without any other components

[2018-07-23 21:59] ntomallen commented on #162
Interesting. It only shows up when using this package, never seen it anywhere else. I'll keep looking into it

[2018-07-23 23:40] iRoachie commented on #162
Is there any reason you don’t upgrade to 0.55? Isn’t 0.56 the one that has the windows bug?

[2018-07-23 23:44] ntomallen commented on #162
Oops, that's a typo. We're on 0.55.4, sorry!

[2018-07-23 23:51] iRoachie commented on #162
Funny enough I don’t see those warnings in the example app and it’s running 0.55.2

[2018-07-24 10:59] nertilzhuri commented on #195
Thank you @iRoachie , it looks ok, and thank you for your recommendation. Most probably all the problems I had previously are due to the style and not a problem of the Collapsible.

Thank you for your help and I'm closing the issue.

[2018-07-24 10:59] #195 closed

[2018-07-24 21:19] mgit7 opened #225 "Allow for certain sections to be disabled or enabled"
I see there is an option to completely disable user interaction with the Accordion, but is it possible to enable certain sections and disable others to be interactive with?

[2018-07-26 06:55] maartenvandillen commented on #206
I think I solved it by setting the keyboardShouldPersistTaps prop of the parent ScrollView

[2018-07-26 09:29] kmlidc opened #226 "After setting up activeSection, other options can not be opened, and the current option cannot be closed."
设置了 activeSection 后，无法打开其他选项，也无法关闭当前选项

After setting up activeSection, other options can not be opened, and the current option cannot be closed.

[2018-07-27 17:16] segheysens commented on #162
I can confirm that I'm on 55.4 and seeing the warnings as well.

Looks like [it was fixed in 0.56 stable](https://github.com/facebook/react-native/issues/18868#issuecomment-397478425), probably better to just upgrade.

[2018-07-27 20:50] ntomallen commented on #162
I'll try to update to 0.56 at some point soon to test it out. I'd like to wait for a minor version so that our developers on windows aren't hanging, but hopefully it goes smoothly

[2018-07-28 00:09] markentingh commented on #162
I gave up on using this component and developed my own, which works quite well. No warnings, either.

https://github.com/Datasilk/Dedicate/blob/master/UI/Collapsible.js

[2018-07-28 07:06] iRoachie commented on #162
@markentingh That's great man! Props to you 👏🏽

[2018-07-28 07:41] iRoachie commented on #162
As I said earlier the bug has been fixed for the deprecated lifecycle methods. The isMounted warning you're seeing is from within react-native and not in the collapsible source code. This happens because we use the `measure` function to get the height of the content, and this internal measure function in react-native was using isMounted.

Here's the link to the issue on react-native's repo where y

[2018-07-28 16:22] markentingh opened #227 "RN 0.54 / React 16.3 deprecation warnings for componentWillReceiveProps, componentWillMount"
You don't need to use the measure function, which causes warnings, and should use event.nativeEvent.layout.height instead.

[2018-07-29 04:25] #227 closed, assigned to nobody

[2018-07-31 13:28] mxmtsk commented on #215
@iRoachie Thank you very much. Feel free to add it as an example for the component of how it can be styled if you like it so much.

[2018-08-01 05:25] anw063 opened #228 "List of Collapsible components whose children render off screen."
I currently tested the example so that when an accordion, or collapsible, has a child component that was collapsed and then expanded it just goes off screen, making it so that you have to scroll down to view the expanded content.
Is there a way, or prop, that I can use to make it so that when I expand a collapsible and its contents go off the screen, the ScrollView scrolls down to view it? When I

[2018-08-01 12:32] iRoachie commented on #215
Sure thing @mxmtsk let me know when your app goes live!

[2018-08-01 15:09] SudoPlz opened #229 "Wrong contentHeight results in content being hidden in 13.0.0"
This is what I know so far:

Until this commit https://github.com/oblador/react-native-collapsible/commit/b882388c90227b5dc13f7fa301ec9d5c9ad9a4ef we've been using `componentWillReceiveProps` but now we use: `componentDidUpdate `

Here's the series of events that took place when collapsible is set to true:

## **Before the commit** (`componentWillReceiveProps`):

- **First**  [_handleLayoutChange]

[2018-08-01 15:26] iRoachie commented on #229
Could you create the example where this would happen? I'd love to fix it if it's a bug, but i need some sort of benchmark to test against

[2018-08-01 15:31] SudoPlz commented on #229
Sure I'll try to create one today.

[2018-08-01 19:45] SudoPlz commented on #229
I spent a lot of time trying to re-create the issue on a fresh rn project, but couldn't :/
This turned out to be harder than what I thought it would be, therefore we're just going to use 12.0.1 for now and hope for a fix in the future.

That being said, any idea what might cause [getNode().measure](https://github.com/oblador/react-native-collapsible/blob/v0.11.2/Collapsible.js#L80) to return a sma

[2018-08-06 06:44] kinza88 opened #230 "react-native-calendars inside collapsible view. (help needed)"
I am using calendar view inside collapsable view. I tap on a button, collapsible view opens and shows the calendar with current month. Till here things work fine.
But as soon as I as click the next/previous month arrow. Collapsible view gets closed. When I tap it again it doesn't get opened with correct height (maybe because the calendar is still loading). Upon 3rd tap calendar view opens with the

[2018-08-19 05:33] iRoachie commented on #230
Hey @kinza88, can you try to set up a small example using https://snack.expo.io?

[2018-08-20 06:29] anhpt-cse commented on #220
seems like there is a miscalculation of content height. You could maybe fix this problem by setting style of your text container to flex: 1

[2018-08-20 10:38] NelGarbuzova commented on #163
Is this feature implemented now? Will be great to have some boolean flag for this.

[2018-08-21 15:12] maikmacs commented on #226
I have the same issue and get solvet with this https://github.com/oblador/react-native-collapsible/issues/139

[2018-08-21 15:13] maikmacs commented on #226
I had the same problem and I could solve it with this https://github.com/oblador/react-native-collapsible/issues/139

[2018-08-21 16:06] iRoachie commented on #226
Closing as duplicate of #139

[2018-08-21 16:06] #226 closed

[2018-08-23 02:31] okayu8 opened #231 "Is it possible to open more than one accordion simultaneously?"
By default, one accordion is expanded, but when you expand another accordion, the original accordion will close.
Is it possible to open more than one accordion at the same time?

I did not understand how to allow more than one even after checking properties etc.
If possible, can you tell me which property to use?

[2018-08-23 02:32] iRoachie commented on #231
Duplicate of #187

[2018-08-23 02:32] #231 closed

[2018-08-28 07:03] gagantaneja commented on #206
try creating the function inside the `renderContent() {` before the `return (` statement for example:`renderContent(section, _, isActive) {
		const gotoDeposit = () => {
			Actions.deposit();
		};
		return (`

and while calling it don't use this. Call it straightaway by the function name .
example : `<TouchableOpacity style={styles.dWButton} onPress={gotoDeposit}>`

[2018-08-28 07:26] C0dekid opened #232 "Accordion: Last section item won't close"
When using the `react-native-collapsible`, I have noticed a strange behaviour in `Accordion` according to the sections. Opening from sections works fine. Closing works fine too, excepts for the last item. If I open the last item in the section list, it won't close anymore. I have to refresh the activity to make this section close again.

When I use the `expandFromBottom={true}` the items expands f

[2018-08-29 09:53] KirankumarDafda commented on #206
@gagantaneja this makes sense but for the same I am still confused, as I want to redirect to another screen using navigate from react navigation but its giving me error **undefined is not a function (evaluating '_this2.redirectoedit()') error in react native app**

What I am doing is

`     editPrice = () => {
		const { navigate } = this.props.navigation;
		navigate("EditPage");
	}`

[2018-08-29 19:31] EzeRangel commented on #209
@iRoachie I have this case and don't know how to proceed.

![captura de pantalla 2018-08-29 a la s 13 30 23](https://user-images.githubusercontent.com/1395261/44810726-d9599580-ab8f-11e8-8f2a-71b888134dae.png)

[2018-08-29 19:48] EzeRangel commented on #209
I have tweaked in the `Collapsible` component and found the main `Animated.View` has this

 `pointerEvents={collapsed ? 'none' : 'auto'}`

is there any reason why the the view prevents touch while is collapsed?

[2018-08-30 09:49] nicomontanari98 commented on #217
I resolved it, the error was that i assigned flexWrap: 'wrap' to main container and to collapsible container.

[2018-08-30 09:49] #217 closed

[2018-08-30 10:31] terreb opened #234 "Collapsible not expanding after collapsing"
I have TouchableOpacity inside Collapsible component. It registers tap when Collapsible is expanded, but when collapsed TouchableOpacity doesn't register tap and thus I'm unable to expand the view back. Here is my component:

[code]

Is it me doing something wrong or is it a bug?